<div class="party-container" fxLayout="column" fxLayoutGap="24px">
    <h3 class="cc-subheading-1 cc-party-header">Party #{{ partyID$ | async }}</h3>

    <div fxLayout="column" fxLayoutGap="24px">
        <nav mat-tab-nav-bar>
            <a
                mat-tab-link
                *ngFor="let link of links"
                [routerLink]="link.url"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive || (activeLinkByFragment$ | async) === link"
            >
                {{ link.name }}
            </a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>
