<div class="party-container" fxLayout="column">
    <h3 class="mat-subheading-1">Party #{{ partyID }}</h3>

    <div fxLayout="column" fxLayoutGap="10px">
        <nav mat-tab-nav-bar>
            <a
                mat-tab-link
                *ngFor="let link of links"
                [routerLink]="link.url"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive"
            >
                {{ link.name }}
            </a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>
