<form fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="20px"
      [formGroup]="form">
    <mat-form-field fxFlex>
        <!--<mat-select placeholder="Select category"-->
                    <!--formControlName="id">-->
            <!--<mat-option *ngFor="let category of categories$ | async" [value]="category.id" required>-->
                <!--{{category.id}} {{category.name}}-->
            <!--</mat-option>-->
        <!--</mat-select>-->
    </mat-form-field>
</form>
