<form fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="20px"
      [formGroup]="form">
    <mat-form-field fxFlex>
        <mat-select placeholder="Select payout schedule"
                    formControlName="id">
            <mat-option [value]="formIdNone">None</mat-option>
            <mat-option *ngFor="let schedule of payoutSchedules$ | async" [value]="schedule.ref.id">
                {{schedule.ref.id}} {{schedule.data.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
