<mat-nav-list>
    <div *ngIf="contractorActions.visible">
        <a
            mat-list-item
            *ngFor="let contractorAction of contractorActions.names"
            (click)="select(contractorActions.type, contractorAction)"
        >
            {{ contractorAction | ccModificationName: 'ContractorUnitContainer' }}
        </a>
    </div>
    <div *ngIf="data.type === 'allActions'"><mat-divider></mat-divider></div>
    <div *ngIf="contractActions.visible">
        <a
            mat-list-item
            *ngFor="let contractAction of contractActions.names"
            (click)="select(contractActions.type, contractAction)"
        >
            {{ contractAction | ccModificationName: 'ContractUnitContainer' }}
        </a>
    </div>
    <div *ngIf="data.type === 'allActions'"><mat-divider></mat-divider></div>
    <div *ngIf="shopActions.visible">
        <a
            mat-list-item
            *ngFor="let shopAction of shopActions.names"
            (click)="select(shopActions.type, shopAction)"
        >
            {{ shopAction | ccModificationName: 'ShopUnitContainer' }}
        </a>
    </div>
    <div *ngIf="data.type === 'allActions'"><mat-divider></mat-divider></div>
</mat-nav-list>
