<mat-nav-list>
    <div *ngIf="contractActions.visible">
        <a
            mat-list-item
            *ngFor="let contractAction of contractActions.names"
            (click)="select(contractActions.type, contractAction)"
        >
            {{ contractAction }}
            <!-- {{ contractAction | ccModificationName: 'ContractUnitContainer' }} -->
        </a>
    </div>
    <div *ngIf="data.type === 'allActions'"><mat-divider></mat-divider></div>
    <div *ngIf="shopActions.visible">
        <a
            mat-list-item
            *ngFor="let shopAction of shopActions.names"
            (click)="select(shopActions.type, shopAction)"
        >
            <!-- {{ shopAction | ccContainerName: 'ShopUnitContainer' }} -->
            {{ shopAction }}
        </a>
    </div>
    <div *ngIf="data.type === 'allActions'"><mat-divider></mat-divider></div>
</mat-nav-list>
