<mat-card *ngIf="claimInfoContainer">
    <mat-card-subtitle>
        Claim details
    </mat-card-subtitle>
    <mat-card-content>
        <cc-claim-info-details [claimInfoContainer]="claimInfoContainer"></cc-claim-info-details>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between stretch">
        <div fxLayout="row" fxLayout.xs="column">
            <button mat-button
                    [disabled]="claimInfoContainer?.status !== 'pending' || isLoading"
                    (click)="createChange()">ADD MODIFICATION
            </button>
            <button mat-button
                    [disabled]="!hasUnsavedChanges() || isLoading"
                    (click)="saveModifications()">SAVE MODIFICATIONS
            </button>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <button mat-button
                    color="primary"
                    [disabled]="hasUnsavedChanges() || claimInfoContainer?.status !== 'pending'"
                    (click)="accept()">ACCEPT CLAIM
            </button>
            <button mat-button
                    color="warn"
                    [disabled]="hasUnsavedChanges() || claimInfoContainer?.status !== 'pending'"
                    (click)="deny()">DENY CLAIM
            </button>
        </div>
    </mat-card-actions>
    <mat-card-footer *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
