<form [formGroup]="form" fxLayout="column">
    <mat-checkbox
        [checked]="showPreferences"
        (change)="toggleCheckbox($event.checked, 'service_acceptance_act_preferences')"
        >Service acceptance act preferences
    </mat-checkbox>
    <div *ngIf="form.get('service_acceptance_act_preferences')">
        <cc-business-schedule-ref
            [form]="form.get('service_acceptance_act_preferences').get('schedule')"
            [initialValue]="initialValue?.service_acceptance_act_preferences?.schedule"
        >
        </cc-business-schedule-ref>
        <cc-representative
            [form]="form.get('service_acceptance_act_preferences').get('signer')"
            [initialValue]="initialValue?.service_acceptance_act_preferences?.signer"
        >
        </cc-representative>
    </div>
</form>
