table {
    width: 100%;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-ref {
    min-width: 100px;
}

.mat-column-data {
    white-space: nowrap;
}

.mat-column-details {
    width: 10px;
}

.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}
