table {
    width: 100%;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-ref {
    min-width: 100px;
}

// .mat-column-data {
//     overflow: auto;
//     white-space: nowrap;
//     width: 25px;
// }

.mat-column-details {
    width: 10px;
}
