<div class="container">
    <div class="card-container" fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-subtitle>
                Search claims
            </mat-card-subtitle>
            <mat-card-content>
                <cc-search-form (valueChanges)="search($event)"></cc-search-form>
            </mat-card-content>
            <mat-card-footer *ngIf="isLoading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
        <cc-claims-table [claims]="claims"></cc-claims-table>
    </div>
</div>
