<div fxLayout="column" fxLayoutGap="24px">
    <ng-container *ngIf="shop$ | async as shop">
        <cc-headline>Shop details</cc-headline>
        <mat-card>
            <mat-card-content>
                <cc-shop-main-info [shop]="shop"></cc-shop-main-info>
            </mat-card-content>
        </mat-card>
        <cc-headline>Shop providers</cc-headline>
        <cc-shop-providers
            [partyID]="partyID$ | async"
            [shopID]="shopID$ | async"
        ></cc-shop-providers>
    </ng-container>
    <div *ngIf="inProgress$ | async" fxLayout fxLayoutAlign="center center">
        <mat-spinner diameter="64"></mat-spinner>
    </div>
</div>
