<div class="mat-dialog-title">Edit weight</div>
<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field fxFlex>
            <input matInput type="number" formControlName="value" />
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div>
        <button mat-button (click)="edit()" [disabled]="inProgress$ | async">SAVE</button>
        <button mat-button [mat-dialog-close]="false" [disabled]="inProgress$ | async">
            CANCEL
        </button>
    </div>
    <mat-progress-bar *ngIf="inProgress$ | async" mode="indeterminate"></mat-progress-bar>
</mat-dialog-actions>
