<div fxLayout="column">
    <mat-form-field>
        <mat-select
            placeholder="Payout tool info"
            [(value)]="selected"
            (selectionChange)="select()"
        >
            <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
        </mat-select>
    </mat-form-field>
    <cc-russian-bank-account
        *ngIf="selected === t.russian_bank_account"
        [form]="form.get(t.russian_bank_account)"
        [initialValue]="initialValue?.russian_bank_account"
    >
    </cc-russian-bank-account>
    <cc-international-bank-account
        *ngIf="selected === t.international_bank_account"
        [form]="form.get(t.international_bank_account)"
        [initialValue]="initialValue?.international_bank_account"
    >
    </cc-international-bank-account>
    <cc-wallet-info *ngIf="selected === t.wallet_info" [form]="form.get(t.wallet_info)">
    </cc-wallet-info>
</div>
