<div class="container">
    <div class="card-container" fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-subtitle>Search payments params</mat-card-subtitle>
            <mat-card-content>
                <cc-payment-adjustment-search-form
                    (valueChanges)="formValueChanges($event)"
                    (statusChanges)="formStatusChanges($event)"
                >
                </cc-payment-adjustment-search-form>
            </mat-card-content>
            <mat-card-actions>
                <button
                    mat-button
                    color="primary"
                    [disabled]="!formValid || isLoading"
                    (click)="search()"
                >
                    SEARCH
                </button>
            </mat-card-actions>
            <mat-card-footer *ngIf="isLoading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div fxLayout fxLayoutGap="10px" fxLayoutAlign="start center">
                    <div>Found: {{ payments.length }}</div>
                    <div>Selected: {{ selectedPayments.length }}</div>
                    <button
                        mat-button
                        color="primary"
                        (click)="create()"
                        [disabled]="!selectedPayments.length"
                    >
                        CREATE
                    </button>
                </div>
                <cc-payment-adjustment-table
                    [payments]="payments"
                    (changeSelected)="changeSelected($event)"
                >
                </cc-payment-adjustment-table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
