<div fxLayout="column" fxLayoutGap="32px">
    <h1 class="mat-headline mat-dialog-title">Other filters</h1>
    <mat-dialog-content [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
        <div fxLayout="column" fxLayoutGap="16px">
            <div fxLayout fxLayoutGap="16px">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Payer email" formControlName="payerEmail" />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Terminal ID" formControlName="terminalID" />
                </mat-form-field>
            </div>
            <div fxLayout fxLayoutGap="16px">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Provider ID" formControlName="providerID" />
                </mat-form-field>
                <div fxFlex></div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Payment Status</h2>
        <cc-expandable-radio-group
                formControlName="paymentStatus"
                [values]="paymentStatuses"
        ></cc-expandable-radio-group>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Domain Revision</h2>
        <div fxLayout fxLayoutGap="16px">
            <mat-form-field fxFlex>
                <input matInput placeholder="From" formControlName="domainRevisionFrom" />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="To" formControlName="domainRevisionTo" />
                <mat-hint *ngIf="currentDomainVersion$ | async as version">Latest: {{ version }}</mat-hint>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Payment Amount</h2>
        <div fxLayout fxLayoutGap="16px">
            <mat-form-field fxFlex>
                <input matInput placeholder="From" formControlName="paymentAmountFrom" />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="To" formControlName="paymentAmountTo" />
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Payment Method</h2>
        <cc-expandable-radio-group
                formControlName="paymentMethod"
                [values]="paymentMethods"
        ></cc-expandable-radio-group>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Token Provider</h2>
        <cc-expandable-radio-group
                formControlName="tokenProvider"
                [values]="tokenProviders"
        ></cc-expandable-radio-group>
        <mat-divider></mat-divider>
        <h2 class="mat-title">Payment System</h2>
        <cc-expandable-radio-group
                formControlName="paymentSystem"
                [values]="paymentSystems"
        ></cc-expandable-radio-group>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout fxLayoutAlign="space-between">
        <button mat-button (click)="cancel()">CANCEL</button>
        <button mat-button color="primary" (click)="save()">SAVE</button>
    </mat-dialog-actions>

</div>
