<div class="mat-dialog-title">
    {{ action.name | ccContainerName: getContainerType(action.type) }}
</div>
<mat-dialog-content>
    <mat-vertical-stepper *ngIf="action.type !== 'domainAction'" [selectedIndex]="currentStep">
        <mat-step>
            <ng-template matStepLabel>Prepare party modification target</ng-template>
            <cc-party-modification-target
                [unitID]="unitID"
                [partyID]="partyId"
                [partyTarget]="getPartyTarget(action.type)"
                (valueChanges)="unitIDChange($event)"
            >
            </cc-party-modification-target>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>Fill in party modification params</ng-template>
                <cc-party-modification-creation
                    [unitID]="unitID"
                    unitIDDisabled="true"
                    [action]="action"
                    (valueChanges)="valueChanges($event)"
                    (statusChanges)="statusChanges($event)"
                >
                </cc-party-modification-creation>
            </form>
        </mat-step>
    </mat-vertical-stepper>
    <cc-terminal-object
        *ngIf="action.type === 'domainAction'"
        [domainModificationInfo]="domainModificationInfo$ | async"
        (valueChanges)="valueChanges($event)"
        (statusChanges)="statusChanges($event)"
    >
    </cc-terminal-object>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [disabled]="isLoading || !(valid | async)" color="primary" (click)="add()">
        ADD
    </button>
    <button [disabled]="isLoading" mat-button [mat-dialog-close]="false">CANCEL</button>
</mat-dialog-actions>
