<div class="parties-container" fxLayout="column" fxLayoutGap="24px">
    <h3 class="cc-headline">Search merchants</h3>
    <mat-card>
        <mat-card-content>
            <cc-parties-search-filters
                [initParams]="initSearchParams$ | async"
                (searchParamsChanged$)="searchParamsUpdated($event)"
            ></cc-parties-search-filters>
        </mat-card-content>
        <mat-card-footer *ngIf="inProgress$ | async">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

    <ng-container *ngIf="parties$ | async as parties">
        <cc-empty-search-result *ngIf="parties.length === 0"></cc-empty-search-result>
        <mat-card *ngIf="parties.length > 0" fxLayout="column" fxLayoutGap="16px">
            <cc-parties-table
                [parties]="parties"
                (menuItemSelected$)="partyMenuItemSelected($event)"
            ></cc-parties-table>
        </mat-card>
    </ng-container>
</div>
