<div *ngIf="isLoading$ | async" fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner
        color="primary"
        mode="indeterminate"
        diameter="128"
    ></mat-progress-spinner>
</div>
<div *ngIf="!(isLoading$ | async)">
    <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="24px">
        <cc-party-claim-title
            [claimID]="claimID$ | async"
            [status]="status$ | async"
        ></cc-party-claim-title>
        <cc-claim-changeset
            [createdAt]="createdAt$ | async"
            [changeset]="changeset$ | async"
            [partyID]="partyID$ | async"
        ></cc-claim-changeset>
        <cc-unsaved-claim-changeset
            [changeset]="changeset$ | async"
            [partyID]="partyID$ | async"
            [claimID]="claimID$ | async"
            (changesetUpdated)="changesetUpdated()"
        ></cc-unsaved-claim-changeset>
        <cc-party-claim-actions
            [partyID]="partyID$ | async"
            [claimID]="claimID$ | async"
        ></cc-party-claim-actions>
    </div>
</div>
