<cc-form-wrapper name="Russian bank account">
    <form [formGroup]="form" fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Account" formControlName="account" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bank name" formControlName="bank_name" required />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                placeholder="Bank post account"
                formControlName="bank_post_account"
                required
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bank bik" formControlName="bank_bik" required />
        </mat-form-field>
    </form>
</cc-form-wrapper>
