<cc-timeline-item>
    <cc-timeline-item-title>
        <cc-claim-timeline-item-header
            [createdAt]="changesetInfo.createdAt"
            [text]="
                changesetInfo.modification.claim_modification.status_modification.status
                    | ccStatusHeader
            "
            [username]="changesetInfo.userInfo.username"
        ></cc-claim-timeline-item-header>

        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu"></mat-menu>
        </div>
    </cc-timeline-item-title>

    <cc-timeline-item-badge
        [color]="
            changesetInfo.modification.claim_modification.status_modification.status
                | ccStatusBadgeColor
        "
    >
        <mat-icon>{{
            changesetInfo.modification.claim_modification.status_modification.status
                | ccStatusActionIcon
        }}</mat-icon>
    </cc-timeline-item-badge>
    <cc-timeline-item-content fxLayout="column" fxLayoutGap="24px">
        <cc-reason-content></cc-reason-content>
    </cc-timeline-item-content>
</cc-timeline-item>
