<div fxLayout="column">
    <mat-form-field>
        <mat-select
            placeholder="Payout tool modification"
            [(value)]="selected"
            (selectionChange)="select()"
        >
            <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
        </mat-select>
    </mat-form-field>
    <cc-payout-tool-params
        *ngIf="selected === t.Creation"
        [form]="form.get(t.Creation)"
        [initialValue]="initialValue?.creation?.tool_info"
    >
    </cc-payout-tool-params>
    <cc-payout-tool-info
        *ngIf="selected === t.InfoModification"
        [form]="form.get(t.InfoModification)"
        [initialValue]="initialValue?.info_modification"
    >
    </cc-payout-tool-info>
</div>
