<cc-timeline-item>
    <cc-timeline-item-title>
        <div class="cc-body-1">
            <span class="cc-claim-changeset-username">kekes</span>
            {{ timelineAction.statusRevoked | actionName }} at
            {{ '2013-04-01T00:00:00.000' | date: 'dd.MM.yyyy HH:mm:ss' }} ({{
                '2013-04-01T00:00:00.000' | humanizedDuration: { largest: 1, hasAgoEnding: true }
            }})
        </div>
    </cc-timeline-item-title>

    <cc-timeline-item-badge [color]="timelineAction.statusRevoked | ccBadgeColor">
        <mat-icon>{{ timelineAction.statusRevoked | actionIcon }}</mat-icon>
    </cc-timeline-item-badge>
    <cc-timeline-item-content fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-content>
                Прост)
            </mat-card-content>
        </mat-card>
    </cc-timeline-item-content>
</cc-timeline-item>
