<form [formGroup]="form" fxLayout="column">
    <mat-form-field fxFlex>
        <mat-select
            placeholder="Select payment institution"
            formControlName="id"
            [required]="required"
        >
            <mat-option
                *ngFor="let paymentInstitution of paymentInstitutions$ | async"
                [value]="paymentInstitution.ref.id"
            >
                {{ paymentInstitution.ref.id }} {{ paymentInstitution.data.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</form>
