<form [formGroup]="form" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between end">
    <mat-form-field fxFlex>
        <mat-label>Leave a comment...</mat-label>
        <input formControlName="comment" matInput type="text" autocomplete="off" />
        <mat-hint
            [ngClass]="{
                hasError: (commentLength$ | async) > 1000
            }"
            >{{ commentLength$ | async }} / 1000</mat-hint
        >
    </mat-form-field>
    <div class="send-comment-action">
        <button
            mat-icon-button
            (click)="sendComment()"
            [disabled]="(inProgress$ | async) || !form.valid"
        >
            <mat-icon>send</mat-icon>
        </button>
    </div>
</form>
