<div *ngIf="claimInfoContainer.type === t.create" fxLayout="row" fxLayout.xs="column">
    <label fxFlex="20">Party ID:</label>
    <div>{{claimInfoContainer?.partyId}}</div>
</div>
<div *ngIf="claimInfoContainer.type === t.edit" fxLayout="row" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="50" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Claim ID:</label>
            <div>{{claimInfoContainer?.claimId}}</div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Status:</label>
            <div>{{claimInfoContainer?.status}}</div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Revision:</label>
            <div>{{claimInfoContainer?.revision}}</div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" *ngIf="claimInfoContainer?.reason">
            <label fxFlex="20">Reason:</label>
            <div>{{claimInfoContainer.reason}}</div>
        </div>
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Party ID:</label>
            <div>{{claimInfoContainer?.partyId}}</div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Created At:</label>
            <div>{{claimInfoContainer?.createdAt | date: "dd.MM.yyyy HH:mm:ss"}}</div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Updated At:</label>
            <div>{{claimInfoContainer?.updatedAt | date: "dd.MM.yyyy HH:mm:ss"}}</div>
        </div>
    </div>
</div>
