<form [formGroup]="form">
    <div fxLayout="column">
        <mat-form-field fxFlex>
            <input matInput placeholder="Legal name" formControlName="legalName" required />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Trading name" formControlName="tradingName" />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input
                matInput
                placeholder="Registered address"
                formControlName="registeredAddress"
                required
            />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Actual address" formControlName="actualAddress" />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Registered number" formControlName="registeredNumber" />
        </mat-form-field>
    </div>
</form>
