<h4 class="mat-dialog-title">Claim creation</h4>
<mat-dialog-content>
    <form *ngIf="form" [formGroup]="form" fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Party ID" formControlName="partyId" required />
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutGap="10px">
    <button mat-button color="primary" (click)="submit()" [disabled]="!form.valid">
        CREATE
    </button>
    <button mat-dialog-close mat-button color="default" [mat-dialog-close]="false">CANCEL</button>
    <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
</mat-dialog-actions>
