<div fxLayout="column" fxLayoutGap="24px">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
        <h3 class="cc-title">Changeset</h3>
        <form [formGroup]="changesetsFilterForm" fxFlex="0 1 266px">
            <mat-form-field fxFlex>
                <mat-label>Changeset filters</mat-label>
                <mat-select formControlName="filters" multiple>
                    <mat-option class="changeset-filter-option" value="outdated"
                        >Show outdated changes</mat-option
                    >
                    <mat-option class="changeset-filter-option" value="removed"
                        >Show removed changes</mat-option
                    >
                    <mat-divider class="changeset-filter-divider"></mat-divider>
                    <mat-option
                        class="changeset-filter-option"
                        [value]="changesetInfoType.partyModification"
                        >Show party mods</mat-option
                    >
                    <mat-option
                        class="changeset-filter-option"
                        [value]="changesetInfoType.fileModification"
                        >Show files</mat-option
                    >
                    <mat-option
                        class="changeset-filter-option"
                        [value]="changesetInfoType.commentModification"
                        >Show comments</mat-option
                    >
                    <mat-option
                        class="changeset-filter-option"
                        [value]="changesetInfoType.documentModification"
                        >Show documents</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <cc-timeline>
        <cc-created-timeline-item [createdAt]="createdAt"></cc-created-timeline-item>
        <ng-container *ngFor="let info of filteredChangesetInfos$ | async; trackBy: simpleTrackBy">
            <cc-file-timeline-item
                *ngIf="info.type === changesetInfoType.fileModification"
                [changesetInfo]="info"
            ></cc-file-timeline-item>
            <cc-comment-timeline-item
                *ngIf="info.type === changesetInfoType.commentModification"
                [changesetInfo]="info"
            ></cc-comment-timeline-item>
            <cc-party-modification-timeline-item
                *ngIf="info.type === changesetInfoType.partyModification"
                [changesetInfo]="info"
            ></cc-party-modification-timeline-item>
            <cc-questionary-timeline-item
                *ngIf="info.type === changesetInfoType.documentModification"
                [changesetInfo]="info"
                [partyID]="partyID"
            ></cc-questionary-timeline-item>
            <cc-status-timeline-item
                *ngIf="info.type === changesetInfoType.statusModification"
                [changesetInfo]="info"
            ></cc-status-timeline-item>
        </ng-container>
    </cc-timeline>
</div>
