<div fxLayout="column" fxLayoutGap="24px">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
        <h3 class="cc-title">Changeset</h3>
        <mat-form-field fxFlex="0 1 266px">
            <mat-label>Changeset filters</mat-label>
            <mat-select>
                <mat-option>
                    eekekekkekek
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <cc-timeline>
        <cc-created-timeline-item [createdAt]="createdAt"></cc-created-timeline-item>
        <ng-container *ngFor="let info of changesetInfos; trackBy: simpleTrackBy">
            <cc-file-timeline-item
                *ngIf="info.type === changesetInfoTypes.fileModification"
                [changesetInfo]="info"
            ></cc-file-timeline-item>
            <cc-comment-timeline-item
                *ngIf="info.type === changesetInfoTypes.commentModification"
                [changesetInfo]="info"
            ></cc-comment-timeline-item>
            <cc-party-modification-timeline-item
                *ngIf="info.type === changesetInfoTypes.partyModification"
                [changesetInfo]="info"
            ></cc-party-modification-timeline-item>
            <cc-questionary-timeline-item
                *ngIf="info.type === changesetInfoTypes.documentModification"
                [changesetInfo]="info"
            ></cc-questionary-timeline-item>
            <cc-status-timeline-item
                *ngIf="info.type === changesetInfoTypes.statusModification"
                [changesetInfo]="info"
            ></cc-status-timeline-item>
        </ng-container>
    </cc-timeline>
</div>
