<cc-form-wrapper name="Russian legal entity">
    <form [formGroup]="form">
        <div fxLayout="column">
            <mat-form-field fxFlex>
                <input
                    matInput
                    placeholder="Registered name"
                    formControlName="registered_name"
                    required
                />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input
                    matInput
                    placeholder="Registered number"
                    formControlName="registered_number"
                    required
                />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="INN" formControlName="inn" required />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input
                    matInput
                    placeholder="Actual address"
                    formControlName="actual_address"
                    required
                />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input
                    matInput
                    placeholder="Post address"
                    formControlName="post_address"
                    required
                />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input
                    matInput
                    placeholder="Representative position"
                    formControlName="representative_position"
                    required
                />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input
                    matInput
                    placeholder="Representative full name"
                    formControlName="representative_full_name"
                    required
                />
            </mat-form-field>
            <mat-form-field fxFlex>
                <input
                    matInput
                    placeholder="Representative document"
                    formControlName="representative_document"
                    required
                />
            </mat-form-field>
            <cc-nested-form-wrapper caption="russian_bank_account">
                <cc-russian-bank-account
                    fxFlex
                    [form]="form.get('russian_bank_account')"
                    [initialValue]="initialValue?.russian_bank_account"
                >
                </cc-russian-bank-account>
            </cc-nested-form-wrapper>
        </div>
    </form>
</cc-form-wrapper>
