<cc-bank-card *ngIf="paymentTool.bank_card" [bankCard]="paymentTool.bank_card"></cc-bank-card>
<div *ngIf="paymentTool.crypto_currency">
    {{ paymentTool.crypto_currency | toCryptoCurrency }}
</div>
<div *ngIf="paymentTool.digital_wallet">
    {{ paymentTool.digital_wallet | toDigitalWallet }}
</div>
<div *ngIf="paymentTool.mobile_commerce">
    {{ paymentTool.mobile_commerce.phone }}
</div>
<div *ngIf="paymentTool.payment_terminal">
    {{ paymentTool.payment_terminal | toPaymentTerminal }}
</div>
