<form fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" [formGroup]="form">
    <mat-form-field fxFlex="30">
        <mat-select placeholder="Claim statuses" formControlName="statuses" multiple>
            <mat-option *ngFor="let status of claimStatuses" [value]="status">{{
                status
            }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="30">
        <input
            matInput
            placeholder="Claim ID"
            formControlName="claim_id"
            type="number"
            autocomplete="false"
        />
    </mat-form-field>
</form>
