<mat-toolbar>
    <mat-toolbar-row>
        <div *ngIf="node">{{node ? node.children.length : '?'}} domain objects. {{snapshot ? snapshot.version : '?'}}
            version
        </div>
        <div style="flex: 1 1 auto"></div>
        <div></div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="isDomainLoading || isLoading"></mat-progress-bar>
<div class="container">
    <mat-sidenav-container>
        <mat-sidenav-content>
            <div class="card-container" fxLayout="column" fxLayoutGap="20px">
                <ng-container *ngIf="node">

                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let group of groups; index as i"
                                             class="expansion-panel__without-body-padding">
                            <mat-expansion-panel-header>
                                <mat-panel-title style="width: 50%;">
                                    {{group.name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{group.description}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ng-template matExpansionPanelContent>
                                <table mat-table [dataSource]="group.elements" style="width:100%"
                                       *ngIf="group.displayedColumns.length">
                                    <ng-container [matColumnDef]="column" *ngFor="let column of group.displayedColumns">
                                        <th mat-header-cell *matHeaderCellDef>{{column.split('.')[1]}}</th>
                                        <td mat-cell *matCellDef="let element" style="white-space: nowrap">
                                            {{element[column]}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let element" style="width:1px; white-space: nowrap">
                                            <button mat-icon-button
                                                    (click)="openTab(element.__node.children[1].children[0], true)">
                                                <mat-icon>visibility</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="routeToObject(element.__node)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="group.allColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: group.allColumns;"></tr>
                                </table>
                            </ng-template>
                        </mat-expansion-panel>

                    </mat-accordion>

                </ng-container>
            </div>
        </mat-sidenav-content>
        <mat-sidenav
                mode="side"
                [opened]="!!tabsModels.length"
                position="end"
                fixedInViewport="true"
                fixedTopGap="64"
                style="width: 50%">
            <mat-tab-group [(selectedIndex)]="selectedModel">
                <ng-container *ngFor="let model of tabsModels; index as i">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span>{{model.node.metadata.name}}</span>
                            <button mat-icon-button (click)="closeTab(model)" style="margin-left:5px">
                                <mat-icon class="mat-icon-rtl-mirror">close</mat-icon>
                            </button>
                        </ng-template>
                        <div style="padding: 20px">
                            <cc-tree [model]="model.node" (foundNode)="openTab($event)"
                                     [preview]="model.isJSON"></cc-tree>
                        </div>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
