<mat-nav-list>
    <div *ngIf='data.type === "ContractUnitContainer"'>
        <a mat-list-item *ngFor='let contractAction of contractActions' (click)='select(contractAction)'>
            {{contractAction.name | ccContainerName:"ContractUnitContainer"}}
        </a>
    </div>
    <div *ngIf='data.type === "ShopUnitContainer"'>
        <a mat-list-item *ngFor='let shopAction of shopActions' (click)='select(shopAction)'>
            {{shopAction.name | ccContainerName:"ShopUnitContainer"}}
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item *ngFor='let domainAction of domainActions' (click)='select(domainAction)'>
            Domain config modification: Add terminal
        </a>
    </div>
</mat-nav-list>
