<ng-container *ngIf="isLoading$ | async; else loaded">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<ng-template #loaded>
    <div fxLayout="column" [fxLayoutGap]="(data$ | async)?.length ? '24px' : '64px'">
        <div fxLayout fxLayoutGap="8px" fxLayoutAlign="space-between center">
            <div class="cc-headline">Party delegate rulesets</div>
            <button mat-button color="primary" (click)="attachNewRuleset()">
                ATTACH NEW RULESET
            </button>
        </div>

        <cc-routing-rules-list
            [data]="data$ | async"
            [displayedColumns]="displayedColumns"
            (toDetails)="navigateToPartyRuleset($event.parentRefId, $event.delegateIdx)"
        ></cc-routing-rules-list>
    </div>
</ng-template>
