<div fxLayout="column" fxLayoutGap="16px">
    <div fxLayout fxLayoutGap="16px">
        <cc-details-item fxFlex title="Amount"
            >{{ payment.amount | ccThriftInt64 | ccFormatAmount }}
            {{ payment.currency_symbolic_code | ccCurrency }}</cc-details-item
        >
        <cc-details-item fxFlex title="Created At">{{
            payment.created_at | date: 'dd.MM.yyyy HH:mm:ss'
        }}</cc-details-item>
        <cc-details-item fxFlex title="Status"
            ><cc-status [color]="payment.status | toPaymentStatus | toPaymentColor">{{
                payment.status | toPaymentStatus | firstLetterToUppercase
            }}</cc-status></cc-details-item
        >
    </div>
    <div fxLayout fxLayoutGap="16px">
        <cc-details-item fxFlex title="Payer">{{ payment.payer | toPayer }}</cc-details-item>
        <cc-details-item fxFlex title="Payment Tool"
            ><cc-payment-tool [paymentTool]="payment.payer | toPaymentTool"></cc-payment-tool
        ></cc-details-item>
        <cc-details-item fxFlex title="Invoice">#{{ payment.invoice_id }}</cc-details-item>
    </div>
    <cc-details-item *ngIf="shop" fxFlex title="Shop"
        >{{ shop.details.name }} ({{ shop.location.url }})</cc-details-item
    >
</div>
