<mat-tab-group (selectedTabChange)="terminalTabChanged()">
    <mat-tab label="Select terminal">
        <div class="tab-container">
            <cc-terminals-table
                [terminals]="terminals"
                (terminalIDSelected)="terminalSelected($event)"
            ></cc-terminals-table>
        </div>
    </mat-tab>
    <mat-tab label="Create new terminal">
        <div class="tab-container">
            <cc-create-terminal-form
                (terminalIDSelected)="terminalSelected($event)"
            ></cc-create-terminal-form>
        </div>
    </mat-tab>
</mat-tab-group>
