<form [formGroup]="form" fxLayout="column">
    <mat-form-field fxFlex>
        <input matInput
               placeholder="Schedule ID"
               formControlName="scheduleID"
               type="number"
               required>
    </mat-form-field>
    <div fxFlex>
        <div fxLayout="row"
             fxLayout.sm="column"
             fxLayout.xs="column">
            <mat-form-field fxFlex>
                <input matInput
                       placeholder="Full Name"
                       formControlName="fullName"
                       required>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput
                       placeholder="Position"
                       formControlName="position"
                       required>
            </mat-form-field>
        </div>
    </div>
    <mat-form-field fxFlex>
        <mat-select placeholder="Document type" formControlName="documentType">
            <mat-option *ngFor="let documentType of documentTypes" [value]="documentType">
                {{documentType}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div fxLayout="column" *ngIf="form.value.documentType === 'PowerOfAttorney'" formGroupName="signer">
        <mat-form-field fxFlex>
            <input matInput
                   placeholder="Legal Agreement ID"
                   formControlName="legalAgreementId"
                   required>
        </mat-form-field>
        <div fxFlex>
            <div fxLayout="row"
                 fxLayout.sm="column"
                 fxLayout.xs="column">
                <mat-form-field fxFlex>
                    <input matInput
                           [matDatepicker]="signedAtPicker"
                           placeholder="Signed At"
                           formControlName="signedAt"
                           required>
                    <mat-datepicker-toggle matSuffix [for]="signedAtPicker"></mat-datepicker-toggle>
                    <mat-datepicker #signedAtPicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput
                           [matDatepicker]="validUntilPicker"
                           placeholder="Valid Until"
                           formControlName="validUntil"
                           required>
                    <mat-datepicker-toggle matSuffix [for]="validUntilPicker"></mat-datepicker-toggle>
                    <mat-datepicker #validUntilPicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
