<mat-nav-list>
    <a mat-list-item *ngFor="let contractAction of contractActions" (click)="select(contractAction)">
        {{contractAction.displayName}}
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item *ngFor="let shopAction of shopActions" (click)="select(shopAction)">
        {{shopAction.displayName}}
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item *ngFor="let domainAction of domainActions" (click)="select(domainAction)">
        {{domainAction.displayName}}
    </a>
</mat-nav-list>
