<h4 class="mat-dialog-title">Payment adjustment{{payments.length === 1 ? '' : 's'}}
    for the {{payments.length}} payment{{payments.length === 1 ? '' : 's'}}</h4>
<mat-dialog-content>
    <mat-horizontal-stepper linear #stepper
                            class="mat-horizontal-content-container-without-padding mat-horizontal-stepper-header-without-events">
        <mat-step [stepControl]="form" [editable]="false">
            <ng-template matStepLabel>Create</ng-template>
            <form *ngIf="form" [formGroup]="form" fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Domain revision" formControlName="revision" type="number" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Reason" formControlName="reason" required>
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" (click)="create()" [disabled]="isLoading || !form.valid">
                CREATE
            </button>
        </mat-step>
        <mat-step [editable]="false">
            <ng-template matStepLabel>Capture</ng-template>
            <button mat-raised-button color="primary" (click)="capture()" [disabled]="isLoading">
                CAPTURE
            </button>
        </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="end none">
        <button mat-button color="warn" (click)="cancel()"
                [disabled]="stepper.selectedIndex === 0 ? false : isLoading">
            CANCEL
        </button>
    </div>
    <mat-progress-bar *ngIf="isLoading" mode="determinate" [value]="progress$ | async"></mat-progress-bar>
</mat-dialog-actions>