<div class="container">
    <div class="card-container" fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-subtitle>Shop details</mat-card-subtitle>
            <mat-card-content> <cc-shop-details [shop]="shop"></cc-shop-details> </mat-card-content>
        </mat-card>
        <h4 class="mat-h4 mat-subheading-1">Providers</h4>
        <div fxLayout="column" fxLayoutAlign="center stretch">
            <mat-spinner *ngIf="!providers"></mat-spinner>
            <div *ngIf="providers">
                <h4 class="mat-h4 mat-subheading-1" *ngIf="providers.length === 0">No providers</h4>
                <cc-providers *ngIf="providers.length > 0" [providers]="providers"></cc-providers>
            </div>
        </div>
    </div>
</div>
