<cc-form-wrapper name="Legal entity">
    <div fxLayout="column">
        <mat-form-field>
            <mat-select
                placeholder="Legal entity type"
                [(value)]="selected"
                (selectionChange)="select()"
            >
                <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
            </mat-select>
        </mat-form-field>
        <cc-russian-legal-entity
            *ngIf="selected === t.RussianLegalEntity"
            [form]="form.get(t.RussianLegalEntity)"
            [initialValue]="initialValue?.russian_legal_entity"
        >
        </cc-russian-legal-entity>
        <cc-international-legal-entity
            *ngIf="selected === t.InternationalLegalEntity"
            [form]="form.get(t.InternationalLegalEntity)"
            [initialValue]="initialValue?.international_legal_entity"
        >
        </cc-international-legal-entity>
    </div>
</cc-form-wrapper>
