<div fxLayout="column">
    <mat-form-field>
        <mat-select
            placeholder="Payout tool info"
            [(value)]="selected"
            (selectionChange)="select()"
        >
            <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
        </mat-select>
    </mat-form-field>
    <cc-russian-bank-account
        *ngIf="selected === t.RussianBankAccount"
        [form]="form.get(t.RussianBankAccount)"
        [initialValue]="initialValue?.russian_bank_account"
    >
    </cc-russian-bank-account>
    <cc-international-bank-account
        *ngIf="selected === t.InternationalBankAccount"
        [form]="form.get(t.InternationalBankAccount)"
        [initialValue]="initialValue?.international_bank_account"
    >
    </cc-international-bank-account>
    <cc-wallet-info *ngIf="selected === t.WalletInfo" [form]="form.get(t.WalletInfo)">
    </cc-wallet-info>
</div>
