<mat-form-field fxFlex>
    <input
        type="text"
        placeholder="Merchant"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
            *ngFor="let party of parties$ | async"
            [value]="party.id"
            (onSelectionChange)="partySelected(party.id)"
        >
            {{ party.email }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
