<div class="mat-dialog-title">Change claim status</div>
<mat-dialog-content>
    <form fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="stretch" [formGroup]="form">
        <mat-form-field>
            <mat-select placeholder="Status" formControlName="type">
                <mat-option *ngFor="let status of statuses" [value]="status">{{
                    status | ccClaimStatus
                }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="isStatus(ClaimStatus.Denied)">
            <input
                aria-label="reason"
                matInput
                required="true"
                formControlName="reason"
                placeholder="Reason"
            />
        </mat-form-field>
        <mat-form-field *ngIf="isStatus(ClaimStatus.Revoked)">
            <mat-label>Reason</mat-label>
            <mat-select formControlName="reason">
                <mat-option *ngFor="let reason of revokeReasons" [value]="reason">
                    {{ reason }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutAlign="space-between">
    <button [disabled]="inProgress$ | async" mat-button [mat-dialog-close]="false">CANCEL</button>
    <button
        mat-button
        [disabled]="!form.valid || (inProgress$ | async)"
        color="primary"
        (click)="confirm()"
    >
        CONFIRM
    </button>
    <mat-progress-bar *ngIf="inProgress$ | async" mode="indeterminate"></mat-progress-bar>
</mat-dialog-actions>
