<div class="parties-container" fxLayout="column" fxLayoutGap="24px">
    <h3 class="cc-headline">Search merchants</h3>
    <mat-card>
        <mat-card-content>
            <cc-parties-search-filters
                [initParams]="initsearchParams$ | async"
                (searchParamsChanged$)="searchParamsUpdated($event)"
            ></cc-parties-search-filters>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <cc-parties-table></cc-parties-table>
        </mat-card-content>
    </mat-card>
</div>
