<div class="container">
    <div class="card-container" fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-subtitle>
                Search Parties
            </mat-card-subtitle>
            <mat-card-content>
                <form fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" [formGroup]="form">
                    <mat-form-field fxFlex="30" fxFlex.sm="70">
                        <input matInput placeholder="Party ID" formControlName="partyId">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="goToParty()">Go</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
