<div class="claim-container">
    <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <h3 class="mat-headline">
                Claim <span class="header">#{{ claimID$ | async }}</span>
            </h3>
            <h3 class="mat-headline">{{ 'Review' }}</h3>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <h3 class="mat-title">Changeset</h3>
            <mat-form-field>
                <mat-label>Changeset filters</mat-label>
                <mat-select>
                    <mat-option>
                        eekekekkekek
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <cc-conversation></cc-conversation>
    <mat-card>
        <mat-card-content fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <cc-send-comment fxFlex="100"></cc-send-comment>
            <cc-file-uploader></cc-file-uploader>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-button>CHANGE STATUS</button>
            <button mat-button>ADD PARTY MODIFICATION</button>
        </mat-card-actions>
    </mat-card>
</div>
