<div fxLayout="column" fxLayoutGap="5px">
    <mat-card>
        <mat-card-subtitle>{{
            type == 'ShopUnitContainer'
                ? 'Shop modification units'
                : type === 'ContractUnitContainer'
                ? 'Contract modification units'
                : ''
        }}</mat-card-subtitle>
    </mat-card>
    <mat-tab-group>
        <mat-tab *ngFor="let unit of units">
            <ng-template mat-tab-label>
                {{ unit.unitID }}
                <span class="unsaved-label">{{ !unit.hasUnsaved ? '' : '*' }}</span>
            </ng-template>
            <div class="tab-container" fxLayout="column" fxLayoutGap="10px">
                <div class="add-modification-container" fxLayoutAlign="end center">
                    <button
                        mat-button
                        [disabled]="claimService.isSaving"
                        (click)="add(unit.unitID)"
                    >
                        ADD MODIFICATION
                    </button>
                </div>
                <cc-party-modification-container
                    *ngFor="let container of unit.containers"
                    [container]="container"
                    [type]="type"
                >
                </cc-party-modification-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
