<div class="mat-headline">Party claims</div>

<div fxLayout="column" fxLayoutGap="20px">
    <mat-card>
        <mat-card-content>
            <cc-search-form (valueChanges)="search($event)"></cc-search-form>
        </mat-card-content>
        <mat-card-footer *ngIf="(isLoading$ | async)">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <ng-container *ngIf="(claims$ | async) as claims">
                <ng-container *ngIf="claims.length === 0">
                    <cc-search-result-empty></cc-search-result-empty>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="(claims$ | async) as claims">
                <cc-claims-table *ngIf="claims.length > 0" [claims]="claims"></cc-claims-table>
            </ng-container>
            <div
                fxLayout="row"
                class="fetch-more"
                fxLayoutAlign="center center"
                *ngIf="(hasMore$ | async)"
            >
                <button mat-button (click)="fetchMore()" [disabled]="isLoading$ | async">
                    {{ (isLoading$ | async) ? 'LOADING...' : 'SHOW MORE' }}
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
