<div class="mat-dialog-title">
    {{ data.type === terminalActionTypes.EditWeight ? 'Edit weight' : null }}
    {{ data.type === terminalActionTypes.EditPriority ? 'Edit priority' : null }}
</div>
<mat-dialog-content>
    <mat-form-field fxFlex>
        <input matInput type="number" [formControl]="editValueControl" />
    </mat-form-field>
</mat-dialog-content>

<div
    mat-dialog-actions
    class="dialog-actions"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="20px"
    fxLayoutGap.xs="10px"
>
    <button
        mat-button
        fxFlex
        fxFlex.xs="none"
        (click)="save()"
        [disabled]="!editValueControl.valid || (inProgress$ | async)"
    >
        SAVE
    </button>
    <button
        mat-button
        fxFlex
        fxFlex.xs="none"
        [mat-dialog-close]="false"
        [disabled]="inProgress$ | async"
    >
        CANCEL
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="inProgress$ | async"></mat-progress-bar>
</div>
