<table mat-table [dataSource]="terminalInfos" fxFlex>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="cc-caption">Name</th>
        <td mat-cell *matCellDef="let terminalInfo">{{ terminalInfo.terminal.data.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="cc-caption">Description</th>
        <td mat-cell *matCellDef="let terminalInfo">
            {{ terminalInfo.terminal.data.description }}
        </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="cc-caption">Type</th>
        <td mat-cell *matCellDef="let terminalInfo">{{ terminalInfo.predicateType }}</td>
    </ng-container>
    <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef class="cc-caption">Priority</th>
        <td mat-cell *matCellDef="let terminalInfo">
            {{ terminalInfo.priority }}
        </td>
    </ng-container>
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef class="cc-caption">Weight</th>
        <td mat-cell *matCellDef="let terminalInfo">{{ terminalInfo.weight }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="cc-caption">Status</th>
        <td mat-cell *matCellDef="let terminalInfo">
            {{ !terminalInfo.disabled | ccIsActive }}
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="cc-caption">Actions</th>
        <td mat-cell *matCellDef="let terminalInfo">
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #appMenu="matMenu">
                <button
                    mat-menu-item
                    (click)="action(terminalInfo.terminal.ref.id, terminalEditAction.editPriority)"
                    [disabled]="!canEdit(terminalInfo.predicateType)"
                >
                    Edit priority
                </button>
                <button
                    mat-menu-item
                    (click)="action(terminalInfo.terminal.ref.id, terminalEditAction.editWeight)"
                    [disabled]="!canEdit(terminalInfo.predicateType)"
                >
                    Edit weight
                </button>
                <button
                    mat-menu-item
                    [disabled]="!canRemove(terminalInfo.predicateType)"
                    (click)="
                        action(terminalInfo.terminal.ref.id, terminalEditAction.removeTerminal)
                    "
                >
                    Remove
                </button>
            </mat-menu>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let shop; columns: displayedColumns"></tr>
</table>
