<ng-container *ngIf="isLoading$ | async; else loaded">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<ng-template #loaded>
    <div
        *ngIf="partyRuleset$ | async as partyRuleset; else emptyPartyDelegate"
        fxLayout="column"
        fxLayoutGap="64px"
    >
        <cc-payment-routing-ruleset-header
            [refID]="partyRuleset.ref.id"
            (add)="addPartyRule()"
            [backTo]="'party/' + (partyID$ | async) + '/payment-routing-rules'"
        >
            Party payment routing rules
        </cc-payment-routing-ruleset-header>

        <cc-routing-rules-list
            [data]="data$ | async"
            [displayedColumns]="displayedColumns"
            (toDetails)="navigateToShopRuleset($event.parentRefId, $event.delegateIdx)"
        ></cc-routing-rules-list>
    </div>

    <ng-template #emptyPartyDelegate>
        <div
            class="empty-party-delegate"
            fxLayout="column"
            fxLayoutAlign=" center"
            fxLayoutGap="24px"
        >
            <div class="cc-display-1">Payment rules not found</div>
            <button mat-raised-button color="primary" (click)="initialize()" class="init">
                INITIALIZE
            </button>
        </div>
    </ng-template>
</ng-template>
