.list,
.node {
    margin: 0;
    width: 700px;
}

ul.list {
    list-style-type: none;
    padding-inline-start: 0;
    border-left: 40px solid white;
}

ul.list_root {
    border-left: none;
}

.list_expanded {
    display: block;
}

.list_pair {
    display: flex;
}

.list_pair > * {
    flex: 0 0 50%;
}

.node > * {
    min-height: 65.5px;
    line-height: 65.5px;
}

.node_changed {
    background: rgb(232, 255, 232);
}

.node_invalid {
    background: rgb(255, 238, 238);
}

.expand {
    position: relative;
    white-space: nowrap
}

.expand__all:hover .expand__icon {
    color: #333;
}

.expand__all[disabled] .expand__icon {
    display: none;
}

.expand__icon {
    color: #ddd;
}

.control {
    overflow: hidden;
}

.control__field {
    width: 100%;
}

.control__parent {
    white-space: nowrap;
}

.control__value {
    color: #ccc;
}

.actions {
    white-space: nowrap;
}

.icon-badge {
    border-radius: 100%;
    padding: 3px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    right: 0;
}
