<div fxLayout="row" fxLayoutAlign=" center">
    <button mat-icon-button
            [attr.aria-label]="'toggle ' + node.label"
            class="icon-button"
            [disabled]="!hasChildren" (click)="toggle(node)">

        <mat-icon [ngClass]="{'mat-icon-rtl-mirror': true, 'icon__key': isListKey}">
            {{
            hasChildren
            ? node.isExpanded ? 'expand_more' : 'chevron_right'
            : isListKey ? 'remove' : ''
            }}
        </mat-icon>

    </button>
    <ng-container [ngSwitch]="node.type">

        <mat-form-field *ngSwitchCase="'select'" class="field">
            <mat-select [placeholder]="node.label"
                        (selectionChange)="node.select.selectionChange($event)"
                        [(value)]="node.select.selected">
                <mat-option>
                    <mat-icon inline style="vertical-align: top">cancel</mat-icon>
                    None
                </mat-option>
                <mat-option *ngFor="let value of node.select.options" [value]="value">
                    {{value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="'field'" class="field">
            <mat-label>{{node.label}}</mat-label>
            <input matInput [formControl]="node.control">
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-slide-toggle *ngSwitchCase="'toggle'">{{node.label}}</mat-slide-toggle>

        <div *ngSwitchDefault>{{node.label}}</div>

    </ng-container>
</div>
<ul *ngIf="node.children" class="list" [class.list__expanded]="node.isExpanded">
    <li *ngFor="let child of node.children; index as i" class="item">
        <cc-node [node]="child"></cc-node>
    </li>
</ul>