.list {
    list-style-type: none;
    display: none;
}

.list__expanded {
    display: block;
}

.list,
.item {
    margin: 0;
}

.item {
    min-height: 65.5px;
}

.icon-button {
    margin-right: 5px;
}

.field {
    width: 100%;
}

.badge {
    border-radius: 100%;
    padding: 3px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    right: 0;
}

