<div *ngIf="isRenderRoot"
     fxLayout="row"
     fxLayoutGap="10px"
     fxLayoutAlign=" center"
     class="node"
     [class.node_changed]="node.isChanged"
     [class.node_invalid]="!node.valid">
    <div class="expand">
        <button mat-icon-button [disabled]="expandButtonDisabled" (click)="toggle(node, true)" class="expand__all">
            <mat-icon class="expand__icon">{{expandAllIcon}}</mat-icon>
        </button>
        <button mat-icon-button [disabled]="expandButtonDisabled" (click)="toggle(node)">
            <mat-icon [color]="expandIcon.color">{{expandIcon.name}}</mat-icon>
            <mat-icon *ngIf="badgeIcon" [color]="badgeIcon.color" class="icon-badge">{{badgeIcon.name}}</mat-icon>
        </button>
    </div>
    <div fxFlex="grow" class="control">
        <ng-container *ngIf="node.control" [ngSwitch]="node.control.type">

            <mat-form-field *ngSwitchCase="controlTypes.SELECT" class="control__field">
                <mat-label>
                    <cc-label [node]="node"></cc-label>
                </mat-label>
                <mat-select [formControl]="node.control">
                    <mat-option *ngIf="node.isNullable">
                        <span><mat-icon inline style="vertical-align: top">cancel</mat-icon>null</span>
                    </mat-option>
                    <mat-option *ngFor="let option of node.control.options" [value]="option.value">
                        {{option.name}}
                    </mat-option>
                </mat-select>
                <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field *ngSwitchCase="controlTypes.INPUT" class="control__field">
                <mat-label>
                    <cc-label [node]="node"></cc-label>
                </mat-label>
                <input matInput [formControl]="node.control">
                <mat-hint></mat-hint>
            </mat-form-field>

            <mat-slide-toggle *ngSwitchCase="controlTypes.TOGGLE">
                <cc-label [node]="node"></cc-label>
            </mat-slide-toggle>

        </ng-container>

        <div *ngIf="!node.control" class="control__parent">
            <cc-label [node]="node"></cc-label>
            <span class="control__value"
                  *ngIf="!isRenderChildren && node.typeLabel">{{node.isNull ? 'null' : node}}</span>
        </div>

    </div>
    <div class="actions" fxLayout="row" fxLayoutGap="10px">
        <div>
            <button *ngIf="node.isRef" mat-icon-button (click)="findNode(node)">
                <mat-icon>link</mat-icon>
            </button>
        </div>
        <div>
            <button *ngIf="node.isRemovable" mat-icon-button (click)="node.remove()" color="warn">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
        <div>
            <button *ngIf="node.add && !node.isNull" mat-icon-button (click)="node.add()"
                    [matBadge]="node.children ? node.children.length : 0">
                <mat-icon>add</mat-icon>
                <mat-icon class="icon-badge" *ngIf="node.getChildIcon" [color]="node.getChildIcon().color">
                    {{node.getChildIcon().name}}
                </mat-icon>
            </button>
        </div>
        <mat-checkbox [ngModel]="!node.isNull" (ngModelChange)="node.isNull = !$event" [disabled]="!node.isNullable">
        </mat-checkbox>
    </div>
</div>
<ul *ngIf="isRenderChildren"
    class="list"
    [class.list_expanded]="expanded(node)"
    [class.list_root]="!isRenderRoot"
    [class.list_pair]="false">
    <li *ngFor="let child of node.children; index as i" class="list__item">
        <cc-node [node]="child" [findNode]="findNode" [expanded]="expanded" [toggle]="toggle"></cc-node>
    </li>
    <li *ngIf="node.add" class="list__item">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center" class="node">
            <div class="expand">
                <button mat-icon-button></button>
                <button mat-icon-button (click)="node.add()">
                    <mat-icon>add</mat-icon>
                    <mat-icon *ngIf="node.getChildIcon" class="icon-badge" [color]="node.getChildIcon().color">
                        {{node.getChildIcon().name}}
                    </mat-icon>
                </button>
            </div>
        </div>
    </li>
</ul>