ul.list {
    list-style-type: none;
    padding-inline-start: 0;
    border-left: 40px solid white;
}

ul.list__root {
    border-left: none;
    /*padding-inline-start: 0;*/
}

.list__expanded {
    display: block;
}

.list,
.item {
    margin: 0;
}

.item > * {
    min-height: 65.5px;
    line-height: 65.5px;
}

.changed {
    background: rgb(190, 227, 203);
}

.icon-button {
}

.field {
    width: 100%;
}

.badge {
    border-radius: 100%;
    padding: 3px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    right: 0;
}

.pair {
    display: flex;
}

.pair > * {
    flex: 0 0 50%;
}
