<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center" class="item">
    <button mat-icon-button
            [attr.aria-label]="'toggle'"
            class="icon-button"
            [disabled]="disabled"
            (click)="toggle(node)">

        <mat-icon class="mat-icon-rtl-mirror">
            {{node.hasChildren ? expanded(node) ? 'expand_more' : 'chevron_right' : ''}}
        </mat-icon>

        <mat-icon class="mat-icon-rtl-mirror badge" *ngIf="this.node.structure === 'list-item'" color="primary">lens
        </mat-icon>
        <mat-icon class="mat-icon-rtl-mirror badge" *ngIf="this.node.structure === 'map-value'" color="primary">stop
        </mat-icon>
        <mat-icon class="mat-icon-rtl-mirror badge" *ngIf="this.node.structure === 'map-key'" color="accent">vpn_key
        </mat-icon>
        <mat-icon class="mat-icon-rtl-mirror badge" *ngIf="this.node.structure === 'map-item'" color="primary">
            view_stream
        </mat-icon>
    </button>
    <div [ngSwitch]="node.list" fxFlex="grow">

        <mat-form-field *ngSwitchCase="'select'" class="field">
            <mat-label>
                <cc-label [node]="node"></cc-label>
            </mat-label>
            <mat-select (selectionChange)="node.select.selectionChange($event)" [(value)]="node.select.selected">
                <mat-option>
                    <mat-icon inline style="vertical-align: top">cancel</mat-icon>
                    None
                </mat-option>
                <mat-option *ngFor="let option of node.select.options" [value]="option.value">
                    {{option.name}}
                </mat-option>
            </mat-select>
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="'field'" class="field">
            <mat-label>
                <cc-label [node]="node"></cc-label>
            </mat-label>
            <input matInput [formControl]="node.control">
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-slide-toggle *ngSwitchCase="'toggle'">
            <cc-label [node]="node"></cc-label>
        </mat-slide-toggle>

        <div *ngSwitchDefault>
            <cc-label [node]="node"></cc-label>
        </div>

    </div>
    <button mat-icon-button
            *ngIf="node.isRef"
            [attr.aria-label]="'open in tab'"
            (click)="findNode(node)"
            style="margin-left:5px">
        <mat-icon class="mat-icon-rtl-mirror">link</mat-icon>
    </button>
    <mat-checkbox *ngIf="!node.isNullable" [(ngModel)]="node.isNotNull"></mat-checkbox>
</div>
<ul *ngIf="expanded(node)" class="list" [class.list__expanded]="expanded(node)">
    <li *ngFor="let child of node.children; index as i" class="list__item">
        <cc-node [node]="child" [findNode]="findNode" [expanded]="expanded" [toggle]="toggle"></cc-node>
    </li>
</ul>