<form *ngIf="form" [formGroup]="form.get('modification')"
      fxLayout="column"
      fxLayoutGap="5px">
    <!--<mat-form-field fxFlex>-->
        <!--<input matInput-->
               <!--placeholder="Contractor ID"-->
               <!--formControlName="contractorId"-->
               <!--required>-->
    <!--</mat-form-field>-->
    <cc-contract-template-ref [form]="form.get('modification').get('template')">
    </cc-contract-template-ref>
    <cc-payment-institution-ref [form]="form.get('modification').get('paymentInstitution')">
    </cc-payment-institution-ref>
    <cc-contractor [form]="form.get('modification')">
    </cc-contractor>
</form>
