<div class="mat-dialog-title">Confirm claim denying</div>
<mat-dialog-content>
    <form fxLayout="row">
        <mat-form-field fxFlex class="example-full-width">
            <textarea matInput placeholder="Reason" [(ngModel)]="reason" name="reason"> </textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [disabled]="isLoading" color="primary" (click)="deny()">CONFIRM</button>
    <button [disabled]="isLoading" mat-button [mat-dialog-close]="false">CANCEL</button>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</mat-dialog-actions>
