<form [formGroup]="form">
    <div fxLayout="column">
        <mat-form-field fxFlex>
            <input matInput placeholder="Legal name" formControlName="legal_name" required />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Trading name" formControlName="trading_name" />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input
                matInput
                placeholder="Registered address"
                formControlName="registered_address"
                required
            />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Country Code" [formControl]="countryControl" required />
            <input class="cc-hidden-input" matInput formControlName="country" disabled />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Actual address" formControlName="actual_address" />
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Registered number" formControlName="registered_number" />
        </mat-form-field>
    </div>
</form>
