<cc-timeline-item>
    <cc-timeline-item-title>
        <cc-timeline-item-header
            [createdAt]="changesetInfo.createdAt"
            [text]="
                changesetInfo.modification.claim_modification.status_modification.status
                    | ccStatusHeader
            "
            [username]="changesetInfo.userInfo.username"
        ></cc-timeline-item-header>
    </cc-timeline-item-title>

    <cc-timeline-item-badge
        [color]="
            changesetInfo.modification.claim_modification.status_modification.status
                | ccStatusBadgeColor
        "
    >
        <mat-icon>{{
            changesetInfo.modification.claim_modification.status_modification.status
                | ccStatusActionIcon
        }}</mat-icon>
    </cc-timeline-item-badge>
    <cc-timeline-item-content *ngIf="getReason() as reason" fxLayout="column" fxLayoutGap="24px">
        <cc-reason-content [text]="reason"></cc-reason-content>
    </cc-timeline-item-content>
</cc-timeline-item>
