<div fxLayout fxLayoutGap="8px" fxLayoutAlign="start center">
    <div>{{ bankCard | toCardNumber }}</div>
    <mat-icon *ngIf="bankCard.payment_system === paymentSystems?.visa" svgIcon="visa"></mat-icon>
    <mat-icon
        *ngIf="bankCard.payment_system === paymentSystems?.mastercard"
        svgIcon="mastercard"
    ></mat-icon>
    <mat-icon *ngIf="bankCard.payment_system === paymentSystems?.nspkmir" svgIcon="mir"></mat-icon>
    <mat-icon
        *ngIf="bankCard.token_provider === tokenProviders?.applepay"
        svgIcon="apple_pay"
    ></mat-icon>
    <mat-icon
        *ngIf="bankCard.token_provider === tokenProviders?.samsungpay"
        svgIcon="samsung_pay"
    ></mat-icon>
    <mat-icon
        *ngIf="bankCard.token_provider === tokenProviders?.googlepay"
        svgIcon="google_pay"
    ></mat-icon>
</div>
