@import '~@angular/material/theming';
@import '../utils/palette';
@import './theme';

body.light {
    background-color: mat-color($mat-gray, 50);
}

$theme: (
    primary: mat-palette($mat-indigo),
    accent: mat-palette($mat-pink),
    warn: mat-palette($mat-red),
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background,
    /*
* Custom
*
*/ name: 'light',
    gray: mat-palette($mat-grey),
    success-base: mat-color(mat-palette($cc-success), 400),
    pending-base: mat-color(mat-palette($cc-pending), 800),
    warn-base: mat-color(mat-palette($cc-warn), 300),
    white: white,
    blue: #0366d6,
    orange: #dbab09,
    red: #cb2431,
    green: #2cbe4e,
    neutral: mat-palette($mat-grey),
);

@include cc-theme($theme);
