<cc-timeline-item>
    <cc-timeline-item-title>
        <cc-claim-timeline-item-header
            [createdAt]="changesetInfo.createdAt"
            [text]="
                changesetInfo.modificationType === changesetInfoModificationTypes.creation
                    ? 'added message'
                    : 'removed message'
            "
            [username]="changesetInfo.userInfo.username"
        ></cc-claim-timeline-item-header>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu"></mat-menu>
        </div>
    </cc-timeline-item-title>

    <cc-timeline-item-badge
        [color]="
            changesetInfo.modificationType === changesetInfoModificationTypes.creation
                ? 'primary'
                : null
        "
    >
        <mat-icon>{{
            changesetInfo.modificationType === changesetInfoModificationTypes.creation
                ? 'add_comment'
                : 'clear'
        }}</mat-icon>
    </cc-timeline-item-badge>
    <cc-timeline-item-content fxLayout="column" fxLayoutGap="24px">
        <ng-container *ngFor="let conversation of conversations$ | async">
            <cc-comment-content
                *ngFor="let message of conversation.messages"
                [text]="message.text"
            ></cc-comment-content>
        </ng-container>
        <cc-timeline-item-loading *ngIf="isLoading$ | async"></cc-timeline-item-loading>
        <cc-timeline-item-error
            *ngIf="error$ | async as error"
            [text]="error"
        ></cc-timeline-item-error>
    </cc-timeline-item-content>
</cc-timeline-item>
