<cc-timeline-item>
    <cc-timeline-item-title>
        <div class="cc-body-1">
            <span class="cc-claim-changeset-username">kekes</span>
            {{ timelineAction | actionName }} at {{ createdAt | date: 'dd.MM.yyyy HH:mm:ss' }} ({{
                createdAt | humanizedDuration: { largest: 1, hasAgoEnding: true }
            }})
        </div>
        <cc-claim-timeline-item-header
            [timelineAction]="timelineAction"
            [createdAt]="createdAt"
        ></cc-claim-timeline-item-header>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu"></mat-menu>
        </div>
    </cc-timeline-item-title>

    <cc-timeline-item-badge [color]="timelineAction | ccBadgeColor">
        <mat-icon>{{ timelineAction | actionIcon }}</mat-icon>
    </cc-timeline-item-badge>
    <cc-timeline-item-content fxLayout="column" fxLayoutGap="24px">
        <ng-content></ng-content>
    </cc-timeline-item-content>
</cc-timeline-item>
