<div fxLayout="column">
    <mat-form-field>
        <mat-select placeholder="Payout tool info"
                    [(value)]="selected"
                    (selectionChange)="select()">
            <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>
    <cc-russian-bank-account
            *ngIf="selected === t.russianBankAccount"
            [form]="form.get(t.russianBankAccount)">
    </cc-russian-bank-account>
    <cc-international-bank-account
            *ngIf="selected === t.internationalBankAccount"
            [form]="form.get(t.internationalBankAccount)">
    </cc-international-bank-account>
    <cc-wallet-info
            *ngIf="selected === t.walletInfo"
            [form]="form.get(t.walletInfo)">
    </cc-wallet-info>
</div>
