<cc-card-container>
    <mat-card>
        <mat-card-subtitle> Search claims </mat-card-subtitle>
        <mat-card-content>
            <cc-search-form (valueChanges)="search($event)"></cc-search-form>
        </mat-card-content>
        <mat-card-footer *ngIf="(isLoading$ | async)">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
    <div class="mat-elevation-z2" fxLayout="column">
        <cc-claims-table [claims]="claims$ | async"></cc-claims-table>
        <button
            mat-raised-button
            *ngIf="(hasMore$ | async)"
            (click)="fetchMore()"
            [disabled]="isLoading$ | async"
        >
            Load more
        </button>
    </div>
</cc-card-container>
