<cc-timeline-item>
    <cc-timeline-item-title>
        <cc-claim-timeline-item-header
            [createdAt]="changesetInfo?.createdAt"
            [text]="'added files' || 'removed files'"
            [username]="changesetInfo?.userInfo.username"
        ></cc-claim-timeline-item-header>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu"></mat-menu>
        </div>
    </cc-timeline-item-title>

    <cc-timeline-item-badge [color]="isCreation ? 'primary' : null">
        <mat-icon>{{ isCreation ? 'attach_file' : 'clear' }}</mat-icon>
    </cc-timeline-item-badge>
    <cc-timeline-item-content fxLayout="column" fxLayoutGap="24px">
        <cc-file-content></cc-file-content>
    </cc-timeline-item-content>
</cc-timeline-item>
