<mat-tab-group (selectedTabChange)="terminalTabChanged($event)">
    <mat-tab label="Select terminal">
        <div class="terminal-form">
            <cc-terminals-table
                [terminals]="terminals"
                (terminalSelected)="terminalSelected($event)"
            ></cc-terminals-table>
        </div>
    </mat-tab>
    <mat-tab label="Create new terminal">
        <cc-create-terminal-form
            (terminalSelected)="terminalSelected($event)"
        ></cc-create-terminal-form>
    </mat-tab>
</mat-tab-group>
