<div fxLayout="column">
    <table mat-table [dataSource]="terminalInfos">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let terminalInfo">{{ terminalInfo.terminal.data.name }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let terminalInfo">
                {{ terminalInfo.terminal.data.description }}
            </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let terminalInfo">{{ terminalInfo.predicateType }}</td>
        </ng-container>
        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef>Priority</th>
            <td mat-cell *matCellDef="let terminalInfo">{{ terminalInfo.priority }}</td>
        </ng-container>
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let terminalInfo">{{ terminalInfo.weight }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let terminalInfo">
                <mat-chip-list>
                    <mat-chip [selected]="!terminalInfo.disabled">{{
                        !terminalInfo.disabled | ccIsActive
                    }}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let terminalInfo">
                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #appMenu="matMenu">
                    <button
                        mat-menu-item
                        (click)="editPriority(terminalInfo.terminal.ref.id)"
                        [disabled]="isLoading"
                    >
                        <mat-icon>edit</mat-icon>
                        <span>Edit priority</span>
                    </button>
                    <button
                        mat-menu-item
                        (click)="editWeight(terminalInfo.terminal.ref.id)"
                        [disabled]="isLoading"
                    >
                        <mat-icon>edit</mat-icon>
                        <span>Edit weight</span>
                    </button>
                    <button
                        mat-menu-item
                        (click)="removeTerminal(terminalInfo.terminal.ref.id)"
                        [disabled]="!isRemovable(terminalInfo.predicateType)"
                    >
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
</div>
