<div fxLayout fxLayoutAlign="space-between">
    <mat-form-field fxFlex>
        <input
            matInput
            type="text"
            (keyup)="applyFilter($event.target.value)"
            placeholder="Filter"
        />
    </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="th">ID</th>
        <td mat-cell *matCellDef="let terminal" class="td">{{ terminal.ref.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="th">Name</th>
        <td mat-cell *matCellDef="let terminal" class="td">{{ terminal.data.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="th">Description</th>
        <td mat-cell *matCellDef="let terminal" class="td">{{ terminal.data.description }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
    ></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
