<form [formGroup]="form" fxLayout="column">
    <mat-form-field>
        <input matInput
               placeholder="BIC"
               formControlName="bic">
    </mat-form-field>
    <mat-form-field>
        <input matInput
               placeholder="Name"
               formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput
               placeholder="Address"
               formControlName="address">
    </mat-form-field>
    <mat-form-field>
        <input matInput
               placeholder="ABA routing transit number"
               formControlName="abaRtn">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Country" formControlName="country">
            <mat-option *ngFor="let residence of residences" [value]="residence">
                {{residence}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
