<cc-timeline-item>
    <cc-timeline-item-title>
        <cc-timeline-item-header
            [createdAt]="changesetInfo.createdAt"
            [text]="'added party modification'"
            [username]="changesetInfo.userInfo.username"
            [outdated]="changesetInfo.outdated"
        ></cc-timeline-item-header>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="index || index === 0" (click)="remove()">
                    Remove
                </button>
            </mat-menu>
        </div>
    </cc-timeline-item-title>

    <cc-timeline-item-badge [color]="changesetInfo?.outdated ? null : 'primary'">
        <mat-icon>{{ 'add' }}</mat-icon>
    </cc-timeline-item-badge>
    <cc-timeline-item-content fxLayout="column" fxLayoutGap="24px">
        <cc-party-modification-content
            [expanded]="expanded"
            [modification]="changesetInfo?.modification.party_modification"
        ></cc-party-modification-content>
    </cc-timeline-item-content>
</cc-timeline-item>
