$size: 36px;
$line-size: 2px;

.cc-timeline {
    position: relative;
    border-bottom: $line-size * 2 solid;

    font-family: Roboto, 'Helvetica Neue', sans-serif;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: $line-size;
        left: $size / 2 - $line-size / 2;
    }
}
