<div fxLayout="row" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="50" fxLayout="column" fxLayoutGap="10px">
        <div *ngIf="shop?.id" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Shop ID:</label>
            <div>{{ shop.id }}</div>
        </div>
        <div *ngIf="shop?.contract_id" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Contract ID:</label>
            <div>{{ shop.contract_id }}</div>
        </div>
        <div *ngIf="shop?.payout_tool_id" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Payout tool ID:</label>
            <div>{{ shop.payout_tool_id }}</div>
        </div>
        <div *ngIf="shop?.payout_schedule?.id" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Payout schedule ID:</label>
            <div>{{ shop.payout_schedule.id }}</div>
        </div>
        <div *ngIf="shop?.details?.name" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Name:</label>
            <div>{{ shop.details.name }}</div>
        </div>
        <div *ngIf="shop?.details?.description" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Description:</label>
            <div>{{ shop.details.description }}</div>
        </div>
        <div *ngIf="shop?.suspension" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Suspension:</label>
            <div>{{ shop.suspension | ccSuspensionPipe }}</div>
        </div>
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutGap="10px">
        <div *ngIf="shop?.created_at" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Created at:</label>
            <div>{{ shop.created_at | date: 'dd.MM.yyyy HH:mm:ss' }}</div>
        </div>
        <div *ngIf="shop?.category?.id" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Category:</label>
            <div><cc-category [category]="shop.category.id"></cc-category></div>
        </div>
        <div *ngIf="shop?.location?.url" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">URL:</label>
            <div>
                <a href="{{ shop.location.url }}">{{ shop.location.url }}</a>
            </div>
        </div>
        <div *ngIf="shop?.account?.currency?.symbolic_code" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Currency:</label>
            <div>{{ shop.account.currency.symbolic_code }}</div>
        </div>
        <div *ngIf="shop?.blocking" fxLayout="row" fxLayout.xs="column">
            <label fxFlex="20">Blocking:</label>
            <div>{{ shop.blocking | ccBlockingPipe }}</div>
        </div>
    </div>
</div>
