<div fxLayout="column" fxLayoutGap="24px">
    <mat-accordion *ngIf="questionary" multi>
        <mat-expansion-panel *ngIf="questionary?.data?.contractor">
            <mat-expansion-panel-header>
                <mat-panel-title>Contractor</mat-panel-title>
            </mat-expansion-panel-header>
            <cc-pretty-json
                [object]="questionary.data.contractor"
                [cleanLook]="true"
            ></cc-pretty-json>
        </mat-expansion-panel>

        <mat-expansion-panel
            *ngIf="
                questionary?.data?.contractor?.legal_entity?.russian_legal_entity?.legal_owner_info
            "
        >
            <mat-expansion-panel-header>
                <mat-panel-title>Legal Entity</mat-panel-title>
            </mat-expansion-panel-header>
            <cc-pretty-json
                [object]="
                    questionary.data.contractor.legal_entity.russian_legal_entity.legal_owner_info
                "
                [cleanLook]="true"
            ></cc-pretty-json>
        </mat-expansion-panel>

        <mat-expansion-panel
            *ngIf="questionary?.data?.contractor?.individual_entity?.russian_individual_entity"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>Individual Entity</mat-panel-title>
            </mat-expansion-panel-header>
            <cc-pretty-json
                [object]="questionary.data.contractor.individual_entity.russian_individual_entity"
                [cleanLook]="true"
            ></cc-pretty-json>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="questionary?.data?.shop_info">
            <mat-expansion-panel-header>
                <mat-panel-title>Shop Info</mat-panel-title>
            </mat-expansion-panel-header>
            <cc-pretty-json
                [object]="questionary.data.shop_info"
                [cleanLook]="true"
            ></cc-pretty-json>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="questionary?.data?.bank_account?.russian_bank_account">
            <mat-expansion-panel-header>
                <mat-panel-title>Bank Account</mat-panel-title>
            </mat-expansion-panel-header>
            <cc-pretty-json
                [object]="questionary.data?.bank_account.russian_bank_account"
                [cleanLook]="true"
            ></cc-pretty-json>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="questionary?.data?.contact_info">
            <mat-expansion-panel-header>
                <mat-panel-title>Contact Info</mat-panel-title>
            </mat-expansion-panel-header>
            <cc-pretty-json
                [object]="questionary.data.contact_info"
                [cleanLook]="true"
            ></cc-pretty-json>
        </mat-expansion-panel>
    </mat-accordion>
</div>
