<form
    fxLayout
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="20px"
    fxLayoutGap.sm="0"
    fxLayoutGap.xs="0"
>
    <cc-domain-objects-type-selector
        fxFlex="50"
        [group]="group"
        (typeSelectionChange)="selectionChange($event)"
    ></cc-domain-objects-type-selector>
    <mat-form-field fxFlex="50">
        <span matPrefix>/</span>
        <input
            matInput
            placeholder="RegExp pattern"
            [value]="pattern"
            (keyup)="patternChange($event.target.value)"
        />
        <span matSuffix>/</span>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearPattern()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</form>
