<cc-timeline-item>
    <cc-timeline-item-title>
        <cc-claim-timeline-item-header
            [createdAt]="changesetInfo.createdAt"
            [text]="'added document'"
            [username]="changesetInfo.userInfo?.username"
        ></cc-claim-timeline-item-header>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="index || index === 0" (click)="remove()">
                    Remove
                </button>
            </mat-menu>
        </div>
    </cc-timeline-item-title>

    <cc-timeline-item-badge [color]="'primary'">
        <mat-icon>{{ 'add' }}</mat-icon>
    </cc-timeline-item-badge>
    <cc-timeline-item-content fxLayout="column" fxLayoutGap="24px">
        <cc-questionary-content [questionary]="questionaryData$ | async"></cc-questionary-content>
        <cc-timeline-item-loading *ngIf="isLoading$ | async"></cc-timeline-item-loading>
        <cc-timeline-item-error
            *ngIf="error$ | async as error"
            [text]="error"
        ></cc-timeline-item-error>
    </cc-timeline-item-content>
</cc-timeline-item>
