<div fxLayout="column" fxLayoutGap="24px">
    <div class="cc-headline">Merchant's payments</div>
    <div fxLayout="column" fxLayoutGap="24px">
        <mat-card>
            <mat-card-content fxLayout>
                <cc-payments-main-search-filters
                    fxFlex="75"
                    [partyID]="partyID$ | async"
                    (valueChanges)="mainSearchParamsChanges($event)"
                    [initParams]="initSearchParams$ | async"
                ></cc-payments-main-search-filters>
                <cc-payments-other-search-filters
                    class="other-filters-button"
                    fxFlex
                    fxLayoutAlign="center start"
                    (valueChanges)="otherSearchParamsChanges($event)"
                    [initParams]="initSearchParams$ | async"
                ></cc-payments-other-search-filters>
            </mat-card-content>
            <mat-card-footer *ngIf="doAction$ | async">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
        <ng-container *ngIf="payments$ | async as payments">
            <cc-empty-search-result
                *ngIf="!(isLoading$ | async) && payments.length === 0"
            ></cc-empty-search-result>
            <mat-card *ngIf="payments.length > 0" fxLayout="column" fxLayoutGap="16px">
                <cc-payments-table
                    [partyID]="partyID$ | async"
                    [payments]="payments"
                    (goToPaymentDetails)="navigateToPayment($event)"
                ></cc-payments-table>
                <button
                    fxFlex="100"
                    mat-button
                    *ngIf="hasMore$ | async"
                    (click)="fetchMore()"
                    [disabled]="doAction$ | async"
                >
                    {{ (doAction$ | async) ? 'LOADING...' : 'SHOW MORE' }}
                </button>
            </mat-card>
        </ng-container>
    </div>
</div>
