<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Payout ID</th>
        <td mat-cell *matCellDef="let payout">{{ payout.id }}</td>
    </ng-container>
    <ng-container matColumnDef="partyId">
        <th mat-header-cell *matHeaderCellDef fxHide.xs fxHide.sm>Party ID</th>
        <td mat-cell *matCellDef="let payout" fxHide.xs fxHide.sm>{{ payout.partyId }}</td>
    </ng-container>
    <ng-container matColumnDef="shopId">
        <th mat-header-cell *matHeaderCellDef fxHide.xs fxHide.sm>Shop ID</th>
        <td mat-cell *matCellDef="let payout" fxHide.xs fxHide.sm>{{ payout.shopId }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef fxHide.xs>Amount</th>
        <td mat-cell *matCellDef="let payout" fxHide.xs>
            {{ payout.amount | ccFormatAmount }} {{ payout.currencyCode | ccCurrency }}
        </td>
    </ng-container>
    <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef fxHide.xs>Period</th>
        <td mat-cell *matCellDef="let payout" fxHide.xs>
            {{ payout.fromTime | date: 'dd.MM.yyyy HH:mm:ss' }}<br />
            — {{ payout.toTime | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let payout">{{ payout.status }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let payout">{{ payout.payoutType }}</td>
    </ng-container>
    <ng-container matColumnDef="payoutDetailButton">
        <th mat-header-cell *matHeaderCellDef class="action-cell"></th>
        <td mat-cell *matCellDef="let payout" class="action-cell">
            <mat-menu #appMenu="matMenu">
                <button
                    *ngIf="hasRole('payout:cancel')"
                    mat-menu-item
                    (click)="cancelPayout(payout.id)"
                >
                    Cancel payout
                </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let payout; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 250, 500]" showFirstLastButtons></mat-paginator>
