<mat-dialog-content class="mat-typography"  >
    <dl fxLayout="row">
        <dt fxFlex="20">
            Payout ID:
        </dt>
        <dd>
            {{payout.id}}
        </dd>
    </dl>
    <dl fxLayout="row">
        <dt fxFlex="20">
            Status:
        </dt>
        <dd>
            {{payout.status}}
        </dd>
    </dl>
    <dl fxLayout="row">
        <dt fxFlex="20">
            Amount:
        </dt>
        <dd>
            {{payout.amount | ccFormatAmount}} {{payout.currencyCode | ccCurrency}}
        </dd>
    </dl>
    <dl fxLayout="row">
        <dt fxFlex="20">
            Created at:
        </dt>
        <dd>
            {{payout.createdAt | date: "dd.MM.yyyy HH:mm:ss"}}
        </dd>
    </dl>
    <dl fxLayout="row">
        <dt fxFlex="20">
            Period:
        </dt>
        <dd>
            {{ payout.fromTime | date: "dd.MM.yyyy HH:mm:ss" }} — {{ payout.toTime | date: "dd.MM.yyyy HH:mm:ss" }}
        </dd>
    </dl>
    <dl fxLayout="row">
        <dt fxFlex="20">
            Merchant ID:
        </dt>
        <dd>
            {{payout.partyId}}
        </dd>
    </dl>
    <dl fxLayout="row">
        <dt fxFlex="20">
            Shop ID:
        </dt>
        <dd>
            {{payout.shopId}}
        </dd>
    </dl>
</mat-dialog-content>
<mat-dialog-actions>
    <!--<button *ngIf="isShowAcceptButton" (click)="acceptPayouts()" [disabled]="isLoading" color="primary" mat-raised-button>Accept</button>-->
    <button *ngIf="payout.status !== 'cancelled'" (click)="toggleCancel()" [disabled]="isLoading" color="default" mat-raised-button>Revoke</button>
</mat-dialog-actions>
<div *ngIf="isCanceling" class='revoke-dialog'>
    <mat-dialog-content>
        <form [formGroup]="cancelForm" fxLayout='column'>
            <mat-form-field>
                <textarea matInput placeholder="Reason" formControlName="reason"></textarea>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="warn" (click)="cancelPayout()" [disabled]="isLoading">Revoke</button>
        <button mat-dialog-close mat-raised-button color="default" (click)="toggleCancel()">Cancel</button>
    </mat-dialog-actions>
</div>