.container {
    max-width: 890px;
    margin: 0 auto;
}

.card-container {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}

/deep/.card-container > * {
    margin-bottom: 20px;
}

/deep/.card-container > *:last-child {
    margin-bottom: 0;
}
