.container {
    max-width: 1600px;
    margin: 0 auto;
}

.card-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

::ng-deep.card-container > * {
    margin-bottom: 20px;
}

::ng-deep.card-container > *:last-child {
    margin-bottom: 0;
}
