<cc-timeline-item>
    <cc-timeline-item-title>
        <div class="cc-body-1">
            <span class="cc-claim-changeset-username">kekes</span>
            {{ timelineAction.partyModificationAdded | actionName }} at
            {{ '2013-04-01T00:00:00.000' | date: 'dd.MM.yyyy HH:mm:ss' }} ({{
                '2013-04-01T00:00:00.000' | humanizedDuration: { largest: 1, hasAgoEnding: true }
            }})
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu"></mat-menu>
        </div>
    </cc-timeline-item-title>

    <cc-timeline-item-badge [color]="timelineAction.partyModificationAdded | ccBadgeColor">
        <mat-icon>{{ timelineAction.partyModificationAdded | actionIcon }}</mat-icon>
    </cc-timeline-item-badge>

    <cc-timeline-item-content>
        <mat-card fxLayout="column" fxLayoutGap="24px">
            <cc-card-title>
                Shop category modification
            </cc-card-title>
            <mat-card-content>
                <cc-pretty-json [object]="testMod"></cc-pretty-json>
            </mat-card-content>
        </mat-card>
    </cc-timeline-item-content>
</cc-timeline-item>
