<mat-toolbar>
    <mat-toolbar-row>
        <div><a routerLink="/domain">DomainObject</a><span *ngIf="node">/{{node.metadata.name}}</span></div>
        <div style="flex: 1 1 auto"></div>
        <div *ngIf="node">
            <button mat-icon-button
                    *ngIf="!node.valid"
                    matBadgePosition="after"
                    [matBadge]="node.errorsCount">
                <mat-icon color="warn">notification_important</mat-icon>
            </button>
            <button mat-icon-button (click)="reload()">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button (click)="preview = !preview">
                <mat-icon>{{preview ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" [disabled]="!node.valid || !node.isChanged">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="!node"></mat-progress-bar>
<div class="card-container" fxLayout="column" fxLayoutGap="20px" *ngIf="node">
    <mat-card style="overflow: auto">
        <cc-tree [model]="node" [withoutRoot]="true" [preview]="preview"></cc-tree>
    </mat-card>
</div>