<cc-action-item
        *ngIf="createResult.length > 0"
        description="Create adjustment success: {{createResult.length}} adjustments created"
        hasAction="true"
        actionButtonLabel="capture"
        [actionDisabled]="inProcess | async"
        (action)="capture()">
</cc-action-item>
<cc-action-item
        *ngIf="failedPending.length > 0"
        description="Create adjustment failed: {{failedPending.length}} payment(s) has pending adjustment"
        hasAction="true"
        actionButtonLabel="cancel pending"
        [actionDisabled]="inProcess | async"
        (action)="cancelPending()">
</cc-action-item>
<cc-action-item
        *ngIf="failedInternal.length > 0"
        description="Create adjustment failed: {{failedInternal.length}} operations(s) failed with 5xx"
        hasAction="true"
        actionButtonLabel="retry"
        [actionDisabled]="inProcess | async"
        (action)="retryFailedInternal()">
</cc-action-item>
<cc-action-item
        *ngIf="failedInvalidPaymentStatus.length > 0"
        description="Create adjustment failed: {{failedInvalidPaymentStatus.length}} payment(s) has invalid payment status">
</cc-action-item>
<cc-action-item
        *ngIf="failedInvoiceNotFound.length > 0"
        description="Create adjustment failed: for {{failedInvalidPaymentStatus.length}} payment(s) invoice not found">
</cc-action-item>
<cc-action-item
        *ngIf="failedInvalidUser.length > 0"
        description="Create adjustment failed: for {{failedInvalidPaymentStatus.length}} payment(s) invalid user">
</cc-action-item>
