<form [formGroup]="form" fxLayout="column" fxLayoutGap="32px">
    <div class="cc-headline">Attach party delegate ruleset</div>

    <div fxLayout="column" fxLayoutGap="24px">
        <cc-target-ruleset-form
            (valueChanges)="targetRuleset$.next($event)"
            (valid)="targetRulesetValid$.next($event)"
        ></cc-target-ruleset-form>

        <ng-container formGroupName="ruleset">
            <mat-divider></mat-divider>
            <div class="cc-title">Payment routing ruleset</div>
            <div fxLayout="column" fxLayoutGap="16px">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name" required />
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Description (optional)"
                        formControlName="description"
                    />
                </mat-form-field>
            </div>
        </ng-container>
    </div>

    <div fxLayout fxLayoutAlign="space-between">
        <button mat-button (click)="cancel()">CANCEL</button>
        <button
            mat-button
            color="primary"
            (click)="attach()"
            [disabled]="form.invalid || !(targetRulesetValid$ | async)"
        >
            ATTACH
        </button>
    </div>
</form>
