@import '../timeline-item.scss';
@import './src/app/styles/themes/light';

$size: 36px;
$line-size: 2px;

$neutral: map-get($theme, neutral);
$line-color: mat-color($neutral, 200);
.cc-timeline-item-badge {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: $size;
    width: $size;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;

    ::ng-deep > *,
    ::ng-deep > * mat-icon {
        height: $icons-size;
        width: $icons-size;
        font-size: $icons-size;
    }
}

.cc-timeline-item-badge {
    background-color: $line-color;
}
