<div fxLayout fxLayoutGap="16px" *ngIf="terminal$ | async as terminal; else empty">
    <cc-details-item fxFlex title="ID">{{ terminal.ref.id }}</cc-details-item>
    <cc-details-item fxFlex title="Name">{{ terminal.data.name }}</cc-details-item>
    <div fxFlex></div>
</div>
<ng-template #empty>
    <div *ngIf="inProgress$ | async; else emptyResult" fxLayout fxLayoutAlign="center center">
        <mat-spinner diameter="64"></mat-spinner>
    </div>
    <ng-template #emptyResult>
        <div>Error terminal loading.</div>
    </ng-template>
</ng-template>
