<mat-accordion>
    <mat-expansion-panel *ngFor="let group of groups; index as i" class="expansion-panel__without-body-padding">
        <mat-expansion-panel-header>
            <mat-panel-title style="width: 50%;">
                {{group.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{group.description}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <cc-objects-table [name]="group.id" [selectNode]="selectNode"></cc-objects-table>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>