<mat-card>
    <mat-card-subtitle>
        Party details
    </mat-card-subtitle>
    <mat-card-content>
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column">
            <div fxFlex="50" fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row" fxLayout.xs="column">
                    <label fxFlex="20">Party ID:</label>
                    <div>{{party?.id}}</div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <label fxFlex="20">Created At:</label>
                    <div>{{party?.createdAt | date: "dd.MM.yyyy HH:mm:ss"}}</div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <label fxFlex="20">Revision:</label>
                    <div>{{party?.revision}}</div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>