<cc-card-container>
    <div *ngIf="isLoading" fxLayout fxLayoutAlign="center stretch"><mat-spinner></mat-spinner></div>
    <div *ngIf="!isLoading" fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-subtitle>Shop details</mat-card-subtitle>
            <mat-card-content> <cc-shop-details [shop]="shop"></cc-shop-details> </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-subtitle>Shop actions</mat-card-subtitle>
            <mat-card-content>
                <button mat-flat-button (click)="addProvider()">ADD PROVIDER</button>
            </mat-card-content>
        </mat-card>
        <div fxLayout="column" fxLayoutGap="20px">
            <h4 class="mat-h4 mat-subheading-1 action-header">Providers:</h4>
            <h4 class="mat-h4 mat-subheading-1" *ngIf="providerInfo.length === 0">
                Providers not found
            </h4>
            <cc-provider
                *ngIf="providerInfo.length > 0"
                [providerInfo]="providerInfo"
                [partyID]="partyID"
                [shopID]="shop.id"
                (terminalRemovedEvent)="terminalRemoved()"
            ></cc-provider>
        </div>
    </div>
</cc-card-container>
