<div fxLayout="column">
    <mat-form-field>
        <mat-select
            placeholder="Representative document"
            [(value)]="selected"
            (selectionChange)="select()"
        >
            <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
        </mat-select>
    </mat-form-field>
    <cc-legal-agreement-binding
        *ngIf="selected === t.PowerOfAttorney"
        [form]="form.get(t.PowerOfAttorney)"
        [initialValue]="initialValue?.power_of_attorney"
    >
    </cc-legal-agreement-binding>
</div>
