<form [formGroup]="form" fxLayout="column">
    <mat-form-field>
        <input matInput
               placeholder="Account"
               formControlName="account"
               required>
    </mat-form-field>
    <mat-form-field>
        <input matInput
               placeholder="Bank name"
               formControlName="bankName"
               required>
    </mat-form-field>
    <mat-form-field>
        <input matInput
               placeholder="Bank post account"
               formControlName="bankPostAccount"
               required>
    </mat-form-field>
    <mat-form-field>
        <input matInput
               placeholder="Bank bik"
               formControlName="bankBik"
               required>
    </mat-form-field>
</form>
