<form [formGroup]="form" fxLayout="column" fxLayoutGap="15px">
    <div fxLayout>
        <mat-form-field fxFlex>
            <input matInput
                   placeholder="Party ID"
                   formControlName="partyID"
                   required>
        </mat-form-field>
    </div>
    <div fxLayout>
        <mat-form-field fxFlex>
            <input matInput
                   placeholder="Shop ID"
                   formControlName="shopID"
                   required>
        </mat-form-field>
    </div>
    <div fxLayout>
        <mat-form-field fxFlex>
            <input matInput
                   placeholder="Shop Url"
                   required>
        </mat-form-field>
    </div>
    <div fxLayout>
        <mat-form-field fxFlex>
            <mat-select placeholder="Provider name" formControlName="providerID" required>
                <mat-option *ngFor="let provider of providerObjects$ | async" [value]="provider.ref.id">
                    {{provider.ref.id}} {{provider.data.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
        <label fxFlex="25">Bank options template:</label>
        <mat-radio-group fxFlex="70" fxLayout fxLayoutAlign="space-between center"
                         formControlName="bankOptionsTemplate">
            <mat-radio-button *ngFor="let template of optionTemplates"
                              fxFlex
                              [value]="template"
                              (click)="setBankOptionsTemplate(template)">{{template}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <mat-form-field fxFlex>
            <input matInput
                   placeholder="Terminal name"
                   formControlName="terminalName"
                   required>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   placeholder="Terminal description"
                   formControlName="terminalDescription"
                   required>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
        <label fxFlex="25">Risk coverage:</label>
        <mat-radio-group fxFlex="50" fxLayout fxLayoutAlign="space-between center"
                         formControlName="riskCoverage">
            <mat-radio-button *ngFor="let coverage of riskCoverages"
                              fxFlex
                              [value]="coverage.value">{{coverage.name}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
        <div>Options:</div>
        <div formArrayName="options">
            <div fxLayout="row"
                 fxLayout.sm="column"
                 fxLayout.xs="column"
                 *ngFor="let option of options.controls; let i=index"
                 [formGroupName]="i">
                <mat-form-field fxFlex="30">
                    <input matInput
                           placeholder="Key"
                           formControlName="key"
                           required>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput
                           placeholder="Value"
                           formControlName="value"
                           required>
                </mat-form-field>
                <button mat-icon-button color="basic" fxFlex="40px" (click)="removeOption(i)">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout fxLayoutAlign="end center">
            <button mat-icon-button color="basic" fxFlex="40px" (click)="addOption()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</form>
