<div class='container'>
    <div class='card-container' fxLayout='column' fxLayoutGap='20px'>
        <mat-card>
            <mat-card-subtitle>
                Search payouts
            </mat-card-subtitle>
            <mat-card-content>
                <cc-payouts-search-form></cc-payouts-search-form>
            </mat-card-content>
            <mat-card-footer *ngIf='isGetPayoutsInProgress'>
                <mat-progress-bar mode='indeterminate'></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
        <mat-card>
            <mat-card-subtitle>Payout actions</mat-card-subtitle>
            <mat-card-content fxLayout='row' fxLayoutGap='20px'>
                <button mat-raised-button color='primary' (click)='createPayout()'>
                    CREATE
                </button>
                <button [matBadgeHidden]='selectedPayoutsIds.length === 0'
                        matBadge='{{selectedPayoutsIds.length}}'
                        matBadgePosition="after"
                        matBadgeColor="primary"
                        mat-raised-button
                        color='accent'
                        (click)='confirmPayouts()'
                        [disabled]='isAdditionalActionInProgress() || selectedPayoutsIds.length === 0'>
                    CONFIRM
                    <mat-spinner [diameter]='20' *ngIf='isConfirmingInProgress'></mat-spinner>
                </button>
                <button [matBadgeHidden]='selectedPayoutsIds.length === 0'
                        matBadge="{{selectedPayoutsIds.length}}"
                        matBadgePosition="after"
                        matBadgeColor="primary"
                        mat-raised-button color='accent'
                        (click)='pay()'
                        [disabled]='isAdditionalActionInProgress() || selectedPayoutsIds.length === 0'>
                    PAY
                    <mat-spinner [diameter]='20' *ngIf='isPayingInProgress'></mat-spinner>
                </button>
            </mat-card-content>
        </mat-card>
        <cc-payouts-table [payouts]='payouts' (valueChanges)='tableOnChange($event)'></cc-payouts-table>
    </div>
</div>
