<div class="mat-dialog-title">{{ data.action | ccContainerName }}</div>
<mat-dialog-content>
    <cc-party-modification-creation
            [action]="data.action"
            (valueChanges)="cons($event)"
    ></cc-party-modification-creation>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button [disabled]="isLoading || !valid" color="primary" (click)="apply()">
        APPLY
    </button>
    <button mat-button [mat-dialog-close]="false">CANCEL</button>
</mat-dialog-actions>
