@import '~@angular/material/theming';
@import './timeline-item/timeline-item-badge/timeline-item-badge-theme';

@mixin cc-timeline-theme($theme) {
    $neutral: map-get($theme, neutral);
    $success-base: map-get($theme, success-base);
    $pending-base: map-get($theme, pending-base);
    $warn-base: map-get($theme, warn-base);
    $line-color: mat-color($neutral, 200);

    .cc-timeline {
        border-bottom-color: $line-color;

        &::after {
            background-color: $line-color;
        }
    }

    .cc-timeline-item-badge {
        background-color: $line-color;
    }

    @include cc-timeline-item-badge-theme($theme);
}

@mixin cc-timeline-typography($config) {
    .cc-timeline {
        @include mat-typography-level-to-styles($config, body-1);
    }
}
