<mat-card *ngIf="claim">
    <mat-card-subtitle>Claim details</mat-card-subtitle>
    <mat-card-content>
        <div fxFlex="50" fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayout.xs="column">
                <label fxFlex="20">Claim ID:</label>
                <div>{{ claim.id }}</div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <label fxFlex="20">Status:</label>
                <div>{{ status }}</div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <label fxFlex="20">Revision:</label>
                <div>{{ claim.revision }}</div>
            </div>
        </div>
        <div fxFlex="50" fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayout.xs="column">
                <label fxFlex="20">Party ID:</label>
                <div>{{ claim.party_id }}</div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <label fxFlex="20">Created At:</label>
                <div>{{ claim.created_at | date: 'dd.MM.yyyy HH:mm:ss' }}</div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <label fxFlex="20">Updated At:</label>
                <div>{{ claim.updated_at | date: 'dd.MM.yyyy HH:mm:ss' }}</div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <div fxLayout="row" fxLayout.xs="column">
            <button mat-button color="primary" (click)="accept()" [disabled]="!isCanAcceptOrDeny()">
                ACCEPT CLAIM
            </button>
            <button mat-button color="warn" (click)="deny()" [disabled]="!isCanAcceptOrDeny()">
                DENY CLAIM
            </button>
        </div>
    </mat-card-actions>
    <mat-card-footer *ngIf="(isLoading$ | async)">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
