@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

.mat-horizontal-content-container-without-padding .mat-horizontal-content-container {
     padding: 0;
}

.mat-horizontal-stepper-header-without-events .mat-horizontal-stepper-header {
    pointer-events: none;
    user-select: none;
}