@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    background: #FAFAFA;
}

.mat-horizontal-stepper-header-without-events .mat-horizontal-stepper-header {
    pointer-events: none;
    user-select: none;
}