<cc-form-wrapper name="Shop details">
    <form [formGroup]="form"
          fxLayout="column"
          fxLayoutGap="5px">
        <mat-form-field fxFlex>
            <input matInput
                   placeholder="Name"
                   formControlName="name"
                   required>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   placeholder="Description"
                   formControlName="description">
        </mat-form-field>
    </form>
</cc-form-wrapper>
