<div fxLayout fxLayoutAlign="end">
    <button mat-raised-button color="primary" (click)="addTerminal()">
        ADD TERMINAL
    </button>
</div>
<div *ngIf="inProgress$ | async" fxLayout fxLayoutAlign="center center">
    <mat-spinner diameter="64"></mat-spinner>
</div>
<div
    *ngIf="(providersInfo$ | async)?.length && !(inProgress$ | async)"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <cc-provider
        *ngFor="let providerInfo of providersInfo$ | async"
        [providerInfo]="providerInfo"
        [partyID]="partyID"
        [shopID]="shopID"
        (action)="action($event, providerInfo.provider.ref.id)"
    ></cc-provider>
</div>
<cc-empty-search-result
    unwrapped
    *ngIf="!(providersInfo$ | async)?.length && !(inProgress$ | async)"
></cc-empty-search-result>
