@import '~@angular/material/theming';

@mixin cc-timeline-item-badge-theme($theme) {
    .cc-timeline-item-badge {
        &.primary {
            background-color: mat-color($mat-blue, A700);

            mat-icon {
                color: white;
            }
        }

        &.warn {
            background-color: mat-color($mat-orange, 400);

            mat-icon {
                color: white;
            }
        }

        &.error {
            background-color: mat-color($mat-red, 600);

            mat-icon {
                color: white;
            }
        }

        &.success {
            background-color: mat-color($mat-green, A700);

            mat-icon {
                color: white;
            }
        }
    }
}
