@import '~@angular/material/theming';
@import '../../../../mixins/fill';

@mixin cc-timeline-item-badge-theme($theme) {
    .cc-timeline-item-badge {
        &-success {
            background-color: $success-base;
            @include fill(map-get($background, card));
        }

        &-pending {
            background-color: $pending-base;
            @include fill(map-get($background, card));
        }

        &-warn {
            background-color: $warn-base;
            @include fill(map-get($background, card));
        }
    }
}
