@import '../timeline-item.scss';
@import '../../../../styles/fill';
@import '../../../../styles/light';

$size: 36px;
$line-size: 2px;

$neutral: map-get($theme, neutral);
$success-base: map-get($theme, success-base);
$pending-base: map-get($theme, pending-base);
$warn-base: map-get($theme, warn-base);
$line-color: mat-color($neutral, 200);
.cc-timeline-item-badge {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: $size;
    width: $size;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;

    ::ng-deep > *,
    ::ng-deep > * mat-icon {
        height: $icons-size;
        width: $icons-size;
        font-size: $icons-size;
    }
}

.cc-timeline-item-badge {
    background-color: $line-color;
}

.cc-timeline-item-badge {
    &-success {
        background-color: $success-base;
        @include fill(map-get($background, card));
    }

    &-pending {
        background-color: $pending-base;
        @include fill(map-get($background, card));
    }

    &-warn {
        background-color: $warn-base;
        @include fill(map-get($background, card));
    }
}
