<form [formGroup]="form" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="end start">
    <mat-form-field fxFlex>
        <mat-label>Leave a comment...</mat-label>
        <input formControlName="comment" matInput type="text" autocomplete="off" />
        <mat-hint
            [ngClass]="{
                'cc-send-comment-error': form.controls.comment.value?.length > 1000
            }"
            >{{ form.controls.comment.value?.length || 0 }}/1000</mat-hint
        >
    </mat-form-field>
    <div class="send-comment-action">
        <button
            mat-icon-button
            (click)="sendComment()"
            [disabled]="(inProgress$ | async) || !form.valid"
        >
            <mat-icon>send</mat-icon>
        </button>
    </div>
</form>
