<form fxLayout='column'
      fxLayoutGap='20px'
      [formGroup]='form'>
    <mat-form-field fxFlex>
        <input matInput
               placeholder='URL'
               formControlName='url'
               required>
    </mat-form-field>
    <mat-form-field fxFlex>
        <input matInput
               placeholder='Name'
               formControlName='name'
               required>
    </mat-form-field>
    <mat-form-field fxFlex>
        <input matInput
               placeholder='Description'
               formControlName='description'>
    </mat-form-field>
    <mat-form-field fxFlex>
        <input matInput
               placeholder='Contract ID'
               formControlName='contractId'>
    </mat-form-field>
    <mat-form-field fxFlex>
        <input matInput
               placeholder='Payout tool ID'
               formControlName='payoutToolId'>
    </mat-form-field>
</form>
