<div class="mat-dialog-title">Add provider</div>
<mat-dialog-content>
    <mat-horizontal-stepper>
        <mat-step>
            <ng-template matStepLabel>Select provider:</ng-template>
            <div fxLayout="column" fxLayoutGap="20px">
                <cc-providers-table-form
                    [providers]="providers$ | async"
                    (providerFormValid)="providerFormChanged($event)"
                    (providerSelected)="providerSelected($event)"
                ></cc-providers-table-form>
                <div>
                    <button
                        matStepperNext
                        mat-button
                        [disabled]="!providerFormValid"
                        color="primary"
                    >
                        NEXT
                    </button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Select or create terminal:</ng-template>
            <div fxLayout="column" fxLayoutGap="20px">
                <mat-tab-group (selectedTabChange)="terminalTabChanged($event)">
                    <mat-tab label="Select terminal">
                        <div class="terminal-form">
                            <cc-terminals-table
                                [terminals]="terminals$ | async"
                                (formChanged)="terminalFormChanged($event)"
                                (selectedTerminal)="terminalSelected($event)"
                            ></cc-terminals-table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Create new terminal">
                        <cc-create-terminal-form
                            (formChanged)="terminalFormChanged($event)"
                        ></cc-create-terminal-form>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <button matStepperPrevious="" mat-button color="primary">BACK</button>
        </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions>
    <div>
        <button
            mat-button
            (click)="add()"
            [disabled]="!(terminalFormValid && providerFormValid) || isLoading"
        >
            ADD
        </button>
        <button mat-button [mat-dialog-close]="false" [disabled]="isLoading">CANCEL</button>
    </div>
    <mat-progress-bar *ngIf="isLoading" mode="determinate"></mat-progress-bar>
</mat-dialog-actions>
