<div fxLayout="column" fxLayoutGap="24px">
    <ng-container>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
            <h3 class="cc-title">Changeset</h3>
            <mat-form-field fxFlex="0 1 266px">
                <mat-label>Changeset filters</mat-label>
                <mat-select>
                    <mat-option>
                        eekekekkekek
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <cc-timeline>
            <cc-claim-created-timeline-item
                [created_at]="created_at"
            ></cc-claim-created-timeline-item>
            <ng-container>
                <cc-questionary-timeline-item></cc-questionary-timeline-item>

                <cc-file-timeline-item></cc-file-timeline-item>
                <cc-deleted-file-timeline-item></cc-deleted-file-timeline-item>

                <cc-comment-timeline-item></cc-comment-timeline-item>
                <cc-deleted-comment-timeline-item></cc-deleted-comment-timeline-item>

                <cc-party-modification-timeline-item></cc-party-modification-timeline-item>

                <cc-status-pending-timeline-item></cc-status-pending-timeline-item>
                <cc-status-review-timeline-item></cc-status-review-timeline-item>
                <cc-status-accepted-timeline-item></cc-status-accepted-timeline-item>
                <cc-status-denied-timeline-item></cc-status-denied-timeline-item>
                <cc-status-revoked-timeline-item></cc-status-revoked-timeline-item>
            </ng-container>
        </cc-timeline>
    </ng-container>

    <ng-container>
        <h3 class="cc-title">Unsaved changes</h3>
        <cc-timeline>
            <cc-party-modification-timeline-item></cc-party-modification-timeline-item>
            <cc-party-modification-timeline-item></cc-party-modification-timeline-item>
            <cc-file-timeline-item></cc-file-timeline-item>
            <cc-deleted-comment-timeline-item></cc-deleted-comment-timeline-item>
        </cc-timeline>
    </ng-container>
</div>
