<div class="domain-config-container" fxLayout="column" fxLayoutGap="24px">
    <div class="cc-headline">Domain config</div>

    <div fxLayout="column" fxLayoutGap="24px">
        <nav mat-tab-nav-bar>
            <a
                mat-tab-link
                *ngFor="let link of links"
                [routerLink]="link.url"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive"
            >
                {{ link.name }}
            </a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>
